<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>v4.0.3-问卷-模块结构-全新建模</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/pui.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/layout.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/page-common.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/libs/jeDate/jedate/skin/jedate.css" />
    <script type="text/javascript" src="assets/libs/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="assets/libs/jeDate/jedate/jedate.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/layout.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-popop.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-page.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-ceng.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-radio.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-checkbox.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-table.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-query.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-valid.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-select.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-switch.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-ui-1.12.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/libs/kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript">
    $(function() {
        importHeader();
        importFooter();
    });
    </script>
</head>

<body>
    <div class="page-content">
        <div class="widthly">
            <div class="page-crumb">
                <p>
                    <a href="/System/Home/Index">项目管理</a>
                    <em>/</em>
                    <a href="/System/CustomerGroup/List">项目列表</a>
                    <em>/</em>
                    <a href="/System/CustomerGroup/List">顺丰集团素质测评</a>
                    <em>/</em>
                    <span>进度统计</span>
                </p>
            </div>
            <div class="bbthree">
                <div class="pd20 pdb0 bgc-white">
                    <div class="page-feature ffs">
                        <ul class="inline clearfix">
                            <li class="cur"><a href="#">产品信息<em></em></a></li>
                            <li><a href="#">账号分配<em></em></a></li>
                            <li><a href="#">通知日志<em></em></a></li>
                            <li><a href="#">数据下载<em></em></a></li>
                            <li><a href="#">报告下载<em></em></a></li>
                            <li><a href="#">进度统计<em></em></a></li>
                        </ul>
                    </div>
                </div>
                <div class="sp10"></div>
                <div class="sp10"></div>
                <div class="page-step fm ffs pd20 bgc-white">
                    <ul>
                        <li class="cur"><a href="javascript:void(0);" class="ant">1 产品信息<i></i></a></li>
                        <li class="cur"><a href="javascript:void(0);" class="ant">2 模块结构<i></i></a></li>
                        <li class="cur"><a href="javascript:void(0);" class="ant">3 指标定义<i></i></a></li>
                        <li class="cur"><a href="javascript:void(0);" class="ant">4 指标权重<i></i></a></li>
                        <li class="cur"><a href="javascript:void(0);" class="ant">5 问卷<i></i></a></li>
                        <li class="cur"><a href="javascript:void(0);" class="ant">6 评价关系<i></i></a></li>
                        <li class="cur"><a href="javascript:void(0);" class="ant">7 完成<i></i></a></li>
                    </ul>
                </div>
                <div class="pd20 clearfix">
                    <div class="module-style clearfix hide">
                        <a href="javascript:void(0)" class="fl ffm fb tc">TCF建模</a>
                        <a href="javascript:void(0)" class="fl ffm fb tc cur">全新建模</a>
                    </div>
                    <script id="moduleNotice" type="text/x-jquery-tmpl">
                        <div class="page-notice ffs">
                            <p class="c-brown">请先从左侧选择指标结构的样式，选择好后在右侧创建所需要指标；如果中途切换样式，则之前新建的指标将被清空，需重新创建。</p>
                        </div>
                    </script>
                    <script id="moduleTitle" type="text/x-jquery-tmpl">
                        <div class="module-title lh34 bgc-gray6 c-gray4 clearfix">
                            <div class="module-name fl">
                                <p class="fl fm pdr10">模块</p>
                                <div class="fl">
                                    <input type="text" class="txt fs c-gray3 w200" id="${zid}" placeholder="${value}" value="${value}" />
                                </div>
                            </div>
                            <div class="module-operate fr">
                            </div>
                        </div>
                    </script>
                    <script id="moduleAddBtn1" type="text/x-jquery-tmpl">
                        <div class="add-cur-zb radd1">
                            <a href="javascript:void(0)" class="add-zb ">点击此处创建一级新指标</a>
                        </div>
                    </script>
                    <script id="moduleAddBtn2" type="text/x-jquery-tmpl">
                        <div class="add-cur-zb radd2">
                            <a href="javascript:void(0)" class="add-zb ">点击此处创建二级新指标</a>
                        </div>
                    </script>
                    <script id="moduleAddBtn3" type="text/x-jquery-tmpl">
                        <div class="add-cur-zb radd3">
                            <a href="javascript:void(0)" class="add-zb ">点击此处创建三级新指标</a>
                        </div>
                    </script>
                    <!-- 用这个模板可以做到无限子指标 -->
                    <!-- 但是添加按钮不好做 -->
                    <!-- 所以还是做三个指标模板 -->
                    <!-- 丢那星 -->
                    <script id="moduleStyleCell" type="text/x-jquery-tmpl">
                        <li>
                            <input type="text" class="txt" value="${value}" />
                            <i class="icon icon-close"></i> 
                            {{if children && children.length>0}}
                            <ul>
                                {{tmpl(children) '#moduleStyleCell'}}
                            </ul>
                            {{/if}}
                        </li>
                    </script>
                    <script id="moduleStyleRight1" type="text/x-jquery-tmpl">
                        {{each theme1}}
                        <li>
                            <input type="text" class="txt" value="${value}" />
                            <i class="icon icon-close"></i>
                        </li>
                        {{/each}}
                    </script>
                    <script id="moduleStyle1" type="text/x-jquery-tmpl">
                        <div class="style-one">
                            <ul class="clearfix">
                                {{each theme1}}
                                <li>
                                    <input type="text" class="txt" value="${value}" />
                                    <i class="icon icon-close"></i>
                                </li>
                                {{/each}}
                                {{tmpl() '#moduleAddBtn1'}}
                            </ul>
                        </div>
                    </script>
                    <script id="moduleStyle2" type="text/x-jquery-tmpl">
                        <div class="style-two bgc-white">
                            <i class="icon icon-close"></i>
                            <p class="style-title bgc-blue c-white">
                                <input type="text" class="txt" value="${value}" />
                            </p>
                            <div class="style-body bc-blue">
                                <ul class="inline clearfix">
                                    {{each children}}
                                    <li>
                                        <input type="text" class="txt" id="${zid}" value="${value}" />
                                        <i class="icon icon-close"></i>
                                    </li>
                                    {{/each}} 
                                    {{tmpl() '#moduleAddBtn2'}}
                                </ul>
                            </div>
                        </div>
                    </script>
                    <script id="moduleStyle3" type="text/x-jquery-tmpl">
                        <div class="style-three bgc-white">
                            <i class="icon icon-close"></i>
                            <p class="style-title bgc-blue c-white">
                                <input type="text" class="txt" value="${value}" />
                            </p>
                            <div class="style-body bc-blue">
                                <ul class="inline clearfix">
                                    {{if children.length>0}} 
                                    {{each children}}
                                    <li>
                                        <input type="text" class="txt" id="${zid}" value="${value}" />
                                        <i class="icon icon-close"></i>
                                        <ul>
                                            {{if children.length>0}} 
                                            {{each children}}
                                            <li>
                                                <input type="text" class="txt" id="${zid}" value="${value}" />
                                                <i class="icon icon-close"></i>
                                            </li>
                                            {{/each}} 
                                            {{/if}} 
                                            {{tmpl() '#moduleAddBtn3'}}
                                        </ul>
                                    </li>
                                    {{/each}} 
                                    {{/if}} 
                                    {{tmpl() '#moduleAddBtn2'}}
                                </ul>
                            </div>
                        </div>
                    </script>

                    <script id="moduleLeft" type="text/x-jquery-tmpl">
                        <div class="module-left fl">
                            <div class="left-title bgc-gray7 tc lh40 fs c-gray3">请选择层级样式</div>
                            <div class="left-style bgc-gray7">
                                <div class="radio-group clearfix" id="selectStyle">
                                    <div class="radione clearfix pdb10">
                                        <input type="radio" name="zbstyle" value="one" />
                                        <span class="fl lh34">样式一（一层指标结构）</span> 
                                        {{tmpl() '#moduleStyle1'}}
                                    </div>
                                    <div class="radione clearfix pdb10">
                                        <input type="radio" name="zbstyle" value="two" />
                                        <span class="fl lh34">样式二（二层指标结构）</span>
                                        <div class="one-style clearfix">
                                            {{tmpl(theme2) '#moduleStyle2'}}
                                        </div>
                                    </div>
                                    <div class="radione clearfix pdb10">
                                        <input type="radio" name="zbstyle" value="three" />
                                        <span class="fl lh34">样式三（三层指标结构）</span>
                                        <div class="one-style clearfix">
                                            {{tmpl(theme3) '#moduleStyle3'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>
                    <script id="moduleRight" type="text/x-jquery-tmpl">
                        <div class="module-right fr">
                            <div class="right-title bgc-gray7 tc lh40 fs c-gray3">已选指标</div>
                            <div class="right-content">
                                <div class="right-style">
                                    <div class="one-style rs1 clearfix"></div>
                                    <div class="one-style rs2 clearfix"></div>
                                    <div class="one-style rs3 clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </script>
                    <script id="moduleSingle" type="text/x-jquery-tmpl">
                        <div class="module-single">
                            {{tmpl(startData) '#moduleTitle'}}
                            <div class="module-body clearfix">
                                {{tmpl(defaultData) '#moduleLeft'}} 
                                {{tmpl(startData) '#moduleRight'}}
                            </div>
                        </div>
                    </script>
                    <form action="" class="pui-form" id="moduleForm">
                        <h6 class="fm lh40 mgb10">请输入模型名称：</h6>
                        <div class="row pol100 required mgb10">
                            <div class="abs col-key fm c-gray3"><span>模型中文名：</span></div>
                            <div class="col-xs-6 col-val">
                                <input type="text" id="formName" class="txt wp100" name="name" data-req="true" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row pol100 required">
                            <div class="abs col-key fm c-gray3"><span>模型英文名：</span></div>
                            <div class="col-xs-6 col-val">
                                <input type="text" id="formName" class="txt wp100" name="name" data-req="true" autocomplete="off" />
                            </div>
                        </div>
                        <div class="sp20"></div>
                        <h6 class="fm lh40 mgb10">请组建模型：</h6>
                        <div class="module-wrapper" id="moduleWrapper">
                        </div>
                        <div class="sp50"></div>
                        <div class="absolutecenter">
                            <div class="acsub">
                                <button class="btn bb bgc-blue fm" type="submit">下一步</button>
                            </div>
                            <div class="acsub">
                                <button class="btn bb bgc-blue fm">暂存草稿</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
var moduleNum = '';

var defaultData = {
    zid: '0001',
    value: '指标名称',
    themeStyle: 1,
    theme1: [{
        zid: '00011',
        value: '一级指标',
        children: []
    }],
    theme2: {
        zid: '00021',
        value: '一级指标',
        children: [{
            zid: '000211',
            value: '二级指标',
            children: []
        }, {
            zid: '000212',
            value: '二级指标',
            children: []
        }, {
            zid: '000213',
            value: '二级指标',
            children: []
        }, {
            zid: '000214',
            value: '二级指标',
            children: []
        }]
    },
    theme3: {
        zid: '00031',
        value: '一级指标',
        children: [{
            zid: '000211',
            value: '二级指标',
            children: [{
                zid: '000211',
                value: '三级指标',
                children: []
            }]
        }, {
            zid: '000211',
            value: '可以做到无极级指标',
            children: [{
                zid: '000211',
                value: '三级指标',
                children: [{
                    zid: '000211',
                    value: '四级指标',
                    children: [{
                        zid: '000211',
                        value: '五级指标',
                        children: []
                    }]
                }]
            }]
        }]
    }
}

var realData = {
    zid: '0001',
    value: '认真的雪',
    themeStyle: 3,
    theme1: [{
        zid: '00031',
        value: '一级指标1111111111',
        children: []
    }],
    theme2: {
        zid: '00031',
        value: '一级指标222222222',
        children: [{
            zid: '00031',
            value: '二级指标222222222',
            children: []            
        }]
    },
    theme3: [{
        zid: '00031',
        value: '一级指标1',
        children: [{
            zid: '000211',
            value: '二级指标',
            children: [{
                zid: '000211',
                value: '三级指标',
                children: []
            }]
        }, {
            zid: '000211',
            value: '二级指标',
            children: [{
                zid: '000211',
                value: '三级指标',
                children: []
            }, {
                zid: '000211',
                value: '三级指标',
                children: []
            }]
        }]
    }, {
        zid: '00031',
        value: '一级指标2',
        children: [{
            zid: '000211',
            value: '二级指标',
            children: []
        }, {
            zid: '000211',
            value: '二级指标',
            children: [{
                zid: '000211',
                value: '三级指标',
                children: []
            }]
        }]
    }]
}

var startData = realData;

$(function() {

    $('#moduleWrapper').append($('#moduleSingle').tmpl());
    $('.module-left  input[name="zbstyle"]').radioSmart({
        callback: function(o, v) {
            switch (v) {
                case 'one':
                    $('#moduleWrapper .right-content .one-style').hide().eq(0).show();
                    debugger;
                    break;
                case 'two':
                    $('#moduleWrapper .right-content .one-style').hide().eq(1).show();
                    break;
                case 'three':
                    $('#moduleWrapper .right-content .one-style').hide().eq(2).show();
                    break;
            }
        }
    });

    $('.rs1').append($('#moduleStyle1').tmpl(defaultData));
    $('.rs2').append($('#moduleStyle2').tmpl(defaultData.theme2));
    $('.rs3').append($('#moduleStyle3').tmpl(defaultData.theme3));

    switch (startData.themeStyle) {
        case 1:
            var input = $('#selectStyle input[name="zbstyle"]').eq(0);
            input.parent().click();
            $('.rs1').empty().append($('#moduleStyle1').tmpl(startData));
            break;
        case 2:
            var input = $('#selectStyle input[name="zbstyle"]').eq(1);
            input.parent().click();
            $('.rs2').empty().append($('#moduleStyle2').tmpl(startData.theme2));
            break;
        case 3:
            var input = $('#selectStyle input[name="zbstyle"]').eq(2);
            input.parent().click();
            $('.rs3').empty().append($('#moduleStyle3').tmpl(startData.theme3));
            break;
    }

    setTimeout(function() {
        $('.rs2').append($('#moduleAddBtn1').tmpl());
        $('.rs3').append($('#moduleAddBtn1').tmpl());
        $('.rs1 .radd1').on('click', function() {
            $(this).before($('#moduleStyleRight1').tmpl(defaultData));
        });
        $('.rs2 .radd1').on('click', function() {
            $(this).before($('#moduleStyle2').tmpl(defaultData.theme2));
        });
        $('.rs3 .radd1').on('click', function() {
            $(this).before($('#moduleStyle3').tmpl(defaultData.theme3));
        });
    }, 100);



    // $('.rs1 .radd1').before($('#moduleStyle1').tmpl(defaultData.theme1));
    // $('.rs2 .radd1').before($('#moduleStyle2').tmpl(defaultData.theme2));
    // $('.rs3 .radd1').before($('#moduleStyle3').tmpl(defaultData.theme3));

    // $('.module-right .one-style').append($('#moduleAddBtn1').tmpl());
    // $('.module-right .one-style .style-body > ul').append($('#moduleAddBtn2').tmpl());
    // $('.module-right .one-style .style-body > ul > li > ul').append($('#moduleAddBtn3').tmpl());


    $('.module-right')
    .on('click', '.icon-close', function() {
        deleteZB.call($(this));
    })
    .on('click', '.rs2 .radd2', function(){
        $(this).before($('#moduleStyleCell').tmpl({value: '二级指标', children: []}));
    })
    .on('click', '.rs3 .radd2', function(){
        $(this).before($('#moduleStyleCell').tmpl({value: '二级指标', children: [{value: '三级指标', children: []}]}));
        $(this).prev('li').children('ul').append($('#moduleAddBtn3').tmpl());
    })
    .on('click', '.rs3 .radd3', function(){
        $(this).before($('#moduleStyleCell').tmpl({value: '三级指标', children: []}));
    });

    var deleteZB = function() {
        this.parent().remove();
    }


    $( ".rs1 .style-one ul" ).sortable();
    $( ".rs1 .style-one ul" ).disableSelection();
    $( ".rs2" ).sortable();
    $( ".rs2" ).disableSelection();
    $( ".rs3" ).sortable();
    $( ".rs3" ).disableSelection();

    var valid = new Valid();
    valid.form($('#moduleForm'),{ 
    });


})
</script>

</html>
