<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>v4.0.3-360-模型库</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/pui.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/layout.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/page-common.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/libs/jeDate/jedate/skin/jedate.css" />
    <script type="text/javascript" src="assets/libs/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="assets/libs/jeDate/jedate/jedate.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/layout.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-popop.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-page.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-ceng.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-radio.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-checkbox.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-table.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-query.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-valid.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-select.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-switch.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="assets/libs/kindeditor/kindeditor-min.js"></script>
    <script type="text/javascript">
    $(function() {
        importHeader();
        importFooter();
    });
    </script>
</head>

<body>
    <div class="page-content">
        <div class="widthly">
            <div class="page-crumb">
                <p>
                    <a href="/System/CustomerGroup/List">模型库</a>
                    <em>/</em>
                    <a href="/System/CustomerGroup/List">我的模型</a>
                    <em>/</em>
                    <span>模型列表</span>
                </p>
            </div>
            <div class="query-form bgc-white pd20">
                <form id="queryForm" class="pui-form">
                    <input id="projectId" name="projectId" type="hidden" value="4750" />
                    <input id="subProjectId" name="subProjectId" type="hidden" value="4751" />
                    <input id="IsAdvSearch" name="IsAdvSearch" type="hidden" value="0" />
                    <div class="clearfix spline bottom">
                        <div class="sp20"></div>
                        <p class="c-green fs fl lh34 ffm">共有<span class="txtsp" id="totalRecords">102</span>条记录</p>
                        <div class="attach-filter fr">
                            <div class="input-group search-group button inline">
                                <label>
                                    <input class="txt" name="key" type="text" id="keyword" placeholder="模型名称" />
                                    <span><button class="icon icon-search" id="keybutton" type="submit"></button></span>
                                </label>
                            </div>
                            <div class="fr pdl10">
                                <a href="javascript:;" class="btn bgc-green" id="productAdd">
                                    <i class="icon icon-addr"></i>
                                    <span class="ffv">创建自定义模型</span>
                                </a>
                            </div>
                            <div class="sp20"></div>
                        </div>
                    </div>
                    <div class="sp20"></div>
                </form>
                <script type="text/javascript">
                var tabledata = '{"Data":[{"UserId":503443,"Name":"缝小肛"},{"UserId":503426,"Name":"缝小肛"},{"UserId":513443,"Name":"缝小肛"},{"UserId":523423,"Name":"缝小肛"},{"UserId":533443,"Name":"缝小肛"},{"UserId":543423,"Name":"缝小肛"}],"PageIndex":1,"PageSize":10,"TotalPages":1,"TotalRecords":93}';
                </script>
                <div class="page-table hasPagination">
                    <div>
                        <!--列表式-->
                        <!--
                        <table class="table table-center table-song table-relative view-container" id="tableCanpingren">
                            <thead>
                                <tr class="header">
                                    <th class="tl">模型名称</th>
                                    <th width="200">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        -->
                        <div class="likeTable" id="likeTableObj">
                            <div class="likeThead fs">
                                <ul class="clearfix">
                                    <li class="odd">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p class="pdl10">模型名称</p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="tc">操作</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="even">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <p class="pdl10">模型名称</p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="tc">操作</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="likeTbody fs">
                                <ul class="clearfix">
                                    <script type="text/x-jquery-tmpl" id="likeTableTmpl">
                                        {{each(i, item) Data}} 
                                        {{if i%2==0}}
                                        <li class="odd">
                                            {{else}}
                                            <li class="even">
                                                {{/if}}
                                                <div class="row">
                                                    <div class="col-xs-7">
                                                        <p class="pdl10"><a href="http://www.benbenla.com?id=${item.UserId}" class="tu">${item.Name}</a></p>
                                                    </div>
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-4">
                                                        <p class="tc">
                                                            <a href="http://www.benbenla.com/?talebaseID=${item.UserId}" class="c-blue tu a-btn-update">修改</a>
                                                            <a href="javascript:void(0)" data-id="${item.UserId}" class="c-blue tu a-btn-copy">复制</a>
                                                            <a href="javascript:void(0)" data-id="${item.UserId}" class="c-blue tu a-btn-create">生成工具</a>
                                                            <a href="javascript:void(0)" data-id="${item.UserId}" class="c-blue tu a-btn-delete">删除</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            {{if i%2==1}}
                                            <div class="sp00"></div>
                                            {{/if}} 
                                            {{/each}}
                                    </script>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--overflow-table-->
                    <!-- 
                    <script type="text/x-jquery-tmpl" id="tableTmpl">
                        <tr class="ant in">
                            <td class="tl">
                                <p><a href="http://www.benbenla.com?id=${UserId}" class="tu">${Name}</a></p>
                            </td>
                            <td>
                                <p>
                                    <a href="http://www.benbenla.com/?talebaseID=${UserId}" class="c-blue tu a-btn-update">修改</a>
                                    <a href="http://www.benbenla.com/?talebaseID=${UserId}" class="c-blue tu a-btn-copy">复制</a>
                                    <a href="http://www.benbenla.com/?talebaseID=${UserId}" class="c-blue tu a-btn-create">生成工具</a>
                                    <a href="http://www.benbenla.com/?talebaseID=${UserId}" class="c-blue tu a-btn-delete">删除</a>
                                </p>
                            </td>
                        </tr>
                    </script>
-->
                    <div class="makePGbottom">
                        <div class="pagination-out">
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>
                <!--page-table-->
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
$(function() {

    var firstData = $.parseJSON(tabledata);

    var queryForm = $('#queryForm');
    var queryformurl = 'assets/admin/v4.0.3/json/pjrtj-query.json'; // 查询条件接口
    var rollpageurl = '/assets/admin/v4.0.3/json/pjrtj-roll.json'; // 翻页接口
    var querystr = {};

    $('#totalRecords').html(firstData.TotalRecords);
    $('#likeTableObj .likeTbody > ul').append($('#likeTableTmpl').tmpl(firstData));

    $('.pagination').pager({
        totalItem: firstData.TotalRecords,
        pageSize: firstData.PageSize,
        pageIndex: firstData.PageIndex,
        action: function(pi, ps) {
            querystr.pi = pi;
            querystr.ps = ps;
            querystr.key = $('#keyword').val();
            renderTable(querystr);
        }
    });

    var querySmart = new QueryForm($('#queryForm'), {
        async: function(str) {
            ceng.msg(str, {
                state: 'notice'
            });
            querystr.pi = 1;
            querystr.ps = 10;
            querystr.key = $('#keyword').val();
            renderTable(querystr);
        }
    });

    var renderTable = function(qstr) {
        debugger;
        $.ajax({
            type: 'GET',
            dataType: 'json',
            data: qstr,
            url: queryformurl,
        }).done(function(data) {
            $('#likeTableObj .likeTbody > ul').empty().append($('#likeTableTmpl').tmpl(firstData));
        })
    }


    var handleSwitch = function(o, bool) {
        var sid = o.attr('id');
        $.post(switchurl, {
            id: sid,
            enable: bool
        }, function(data) {
            debugger;
        })
    }


    $('.a-btn-delete').on('click', function() {
        var sid = $(this).data('id');
        var text = '<p>确认删除 ' + sid + '</p>';
        ceng.comfirm(text, {
            style: 2,
            yes: function(o, z) {
                // $.ajax({});
            },
            no: function() {}
        })
    });


})
</script>

</html>
