<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/pui.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/layout.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/admin/v4.0.3/css/page-common.css" />
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="assets/libs/jeDate/jedate/skin/jedate.css" />
    <script type="text/javascript" src="assets/libs/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/layout.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-ui-1.12.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-popop.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-page.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-ceng.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-switch.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-query.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-table.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-checkbox.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-radio.js"></script>
    <script type="text/javascript" src="assets/admin/v4.0.3/js/components/pui-radio.js"></script>
    <script type="text/javascript" src="assets/libs/jeDate/jedate/jedate.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script type="text/javascript">
    $(function() {
        importHeader();
        importFooter();
    });
    </script>
</head>

<body>
    <div class="page-content">
        <div class="widthly">
            <div class="page-crumb">
                <p>
                    <b>当前位置：</b>
                    <a href="">账号管理</a>
                    <em>></em>
                    <a href="">项目列表</a>
                    <em>></em>
                    <a href="">高层管理人员360反馈</a>
                    <em>></em>
                    <span class="t-blue">账号分配</span>
                </p>
            </div>
            <div class="bbthree bgc-white pd20">
                <div class="page-feature">
                    <ul class="inline clearfix">
                        <li class="cur"><a href="#">账号分配<em></em></a></li>
                        <li><a href="#">通知日志<em></em></a></li>
                        <li><a href="#">数据下载<em></em></a></li>
                        <li><a href="#">报告下载<em></em></a></li>
                        <li><a href="#">报告下载中心<em></em></a></li>
                        <li><a href="#">进度统计<em></em></a></li>
                        <li><a href="#">产品修改<em></em></a></li>
                    </ul>
                </div>
                <div class="query-form bgc-white">
                    <div class="sp20"></div>
                    <form action="" id="queryForm" class="pui-form">
                        <div class="attach-filter spline bottom clearfix">
                            <div class="fr">
                                <div class="input-group button inline">
                                    <label>
                                        <input class="txt" name="key" type="text" placeholder="姓名 / 账号 / 邮箱 / 手机" />
                                        <span><button class="icon icon-search" type="submit"></button></span>
                                    </label>
                                </div>
                                <div class="fr pdl10">
                                    <div class="txt-group pdl10 pdr10">
                                        <a href="javascript:void(0);" id="higherBtn" class="c-blue tu ant">高级搜索</a>
                                    </div>
                                    <a href="javascript:;" class="btn bgc-green" id="accountAdd">
                                        <i class="icon icon-addr"></i>
                                        <span class="ffv">创建账号</span>
                                    </a>
                                </div>
                            </div>
                            <div class="sp20"></div>
                        </div>
                        <div class="page-filter">
                            <div class="highSearch ant">
                                <div class="filter-line clearfix mgb10">
                                    <b>开通时间：</b>
                                    <p class="clearfix">
                                        <a href="javascript:" data-val="2016/6/15" class="check selectItem">今天</a>
                                        <a href="javascript:" data-val="2016/5/15" class="selectItem">一个月</a>
                                        <a href="javascript:" data-val="2016/3/15" class="selectItem">三个月</a>
                                        <a href="javascript:" data-val="2015/6/15" class="selectItem">一年</a>
                                    </p>
                                </div>
                                <div class="selectDate clearfix">
                                    <div class="fl nbsp relative">
                                        <input class="txt wpdate" id="sjt" name="sjt" type="text" value="" readonly>
                                        <i class="icon icon-date2"></i>
                                    </div>
                                    <div class="fl nbsp c-gray3 pdl10 pdr10"> --- </div>
                                    <div class="fl nbsp relative">
                                        <input class="txt wpdate" id="ejt" name="ejt" type="text" value="" readonly>
                                        <i class="icon icon-date2"></i>
                                    </div>
                                    <button class="fl mgl10 btn btn-common">确定</button>
                                </div>
                                <div class="keyImport">
                                    <div class="spline"></div>
                                    <div class="filter-line clearfix mgt10 mgb10" id="filter-sf">
                                        <b>搜索条件：</b>
                                        <p class="clearfix">
                                            <a href="javascript:" title="选中|取消" class="check">帐号</a>
                                            <input type="checkbox" id="15587" value="Account" checked="checked" style="display:none">
                                            <a href="javascript:">姓名</a>
                                            <input type="checkbox" id="15589" value="Name" style="display:none">
                                            <a href="javascript:">邮箱</a>
                                            <input type="checkbox" id="15590" value="Email" style="display:none">
                                            <a href="javascript:">手机</a>
                                            <input type="checkbox" id="15591" value="Mobile" style="display:none">
                                        </p>
                                    </div>
                                    <div class="txtarea">
                                        <textarea name="sfv" maxlength="1000" rows="8" class="w500 placeholder ant" id="hsearchlist"></textarea>
                                        <div class="pdt10 clearfix">
                                            <button class="fl btn btn-common">确定</button>
                                        </div>
                                        <div class="sp10"></div>
                                        <!--10像素间隔-->
                                        <div class="spline"></div>
                                    </div>
                                </div>
                                <!-- <a class="toggle" id="highbtn" state="1"><span>高级搜索</span><i class="ico ico-arrow2"></i></a> -->
                            </div>
                            <!--highsearch-->
                            <div class="filter-line clearfix spline bottom" id="divAccountStatus" data-type="checkbox" data-immediately="true">
                                <b>状态：</b>
                                <p class="clearfix">
                                    <a href="javascript:void(0)" class="check selectAll">全部<input type="checkbox" class="hide" name="tools1" value='0' /></a>
                                    <a href="javascript:void(0)" class="selectItem">未开始<input type="checkbox" class="hide" name="tools1" value='0' /></a>
                                    <a href="javascript:void(0)" class="selectItem">答题中<input type="checkbox" class="hide" name="tools1" value='0' /></a>
                                    <a href="javascript:void(0)" class="selectItem">完成交卷<input type="checkbox" class="hide" name="tools1" value='0' /></a>
                                    <a href="javascript:void(0)" class="selectItem">过期<input type="checkbox" class="hide" name="tools1" value='0' /></a>
                                </p>
                            </div>
                            <div class="spline"></div>
                            <div class="filter-line clearfix spline bottom" id="divCommunicationWay" data-type="checkbox" data-immediately="true">
                                <b>通讯方式：</b>
                                <p class="clearfix">
                                    <a class="selectAll check" href="javascript:void(0)">全部<input type="checkbox" class="hide" name="tools2" value='0' /></a>
                                    <span>
                                        <a name="IsExistMail" class="selectItem" href="javascript:void(0)">有邮箱<input type="checkbox" class="hide" name="tools2" value='0' /></a> 
                                        <a name="IsExistMail" class="selectItem" href="javascript:void(0)">无邮箱<input type="checkbox" class="hide" name="tools2" value='0' /></a> 
                                    </span>
                                    <span>
                                        <a name="IsExistMobile" class="selectItem" href="javascript:void(0)">有手机<input type="checkbox" class="hide" name="tools2" value='0' /></a> 
                                        <a name="IsExistMobile" class="selectItem" href="javascript:void(0)">无手机<input type="checkbox" class="hide" name="tools2" value='0' /></a> 
                                </span>
                                </p>
                            </div>
                            <div class="spline"></div>
                            <div class="filter-line clearfix spline bottom" id="divNotify" data-type="checkbox" data-immediately="true">
                                <b>通知状态：</b>
                                <p class="clearfix">
                                    <a class="selectAll check" href="javascript:void(0)">全部<input type="checkbox" class="hide" name="tools3" value='0' /></a>
                                    <span>
                                        <a name="IsSendMail" class="selectItem" href="javascript:void(0)">已发邮件<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                        <a name="IsSendMail" class="selectItem" href="javascript:void(0)">未发邮件<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                    </span>
                                    <span>
                                        <a name="IsSendSMS" class="selectItem" href="javascript:void(0)">已发短信<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                        <a name="IsSendSMS" class="selectItem" href="javascript:void(0)">未发短信<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                        <a name="IsSendSMS" class="selectItem" href="javascript:void(0)">未发短信<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                        <a name="IsSendSMS" class="selectItem" href="javascript:void(0)">未发短信<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                        <a name="IsSendSMS" class="selectItem" href="javascript:void(0)">未发短信<input type="checkbox" class="hide" name="tools3" value='0' /></a> 
                                    </span>
                                </p>
                            </div>
                            <div class="spline"></div>
                            <div class="spline"></div>
                        </div>
                        <!--page-filter-->
                        <div class="setOrder mgb10 fs ffv">
                            <ul class="radiuslist">
                                <li class="relative all cur">
                                    <a href="javascript:void(0)" sortfield="all">综合排序</a>
                                </li>
                                <li class="relative req">
                                    <a href="javascript:void(0)" class="sortfield" sort="" sortfield="joinTime">加入时间<i class="ico ico-order absolute"></i></a>
                                </li>
                                <li class="relative req">
                                    <a href="javascript:void(0)" class="sortfield" sort="" sortfield="joinTime">加入时间<i class="ico ico-order absolute"></i></a>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <!--setOrder-->
                    <script type="text/javascript">
                    var accountInfo = {
                        "Data": [
                            [{
                                "_rowid_": 1,
                                "UserId": 503443,
                                "CustomerId": 1000071,
                                "Account": "123456",
                                "Name": "缝小肛",
                                "Sex": "男",
                                "EnglishName": null,
                                "Password": "Ns76tu",
                                "OrgTreeCode": null,
                                "Email": "123@123.com",
                                "Mobile": "13690875421",
                                "IdentityNum": null,
                                "Phone": "",
                                "Address": "",
                                "School": null,
                                "CreatedDate": "2016-04-22T17:48:01.07",
                                "Creater": "jianfeng.zou",
                                "ModifiedDate": "2016-05-25T10:52:02.29",
                                "Modifier": "admin",
                                "UserExamId": 403616,
                                "EvaluationPersonId": 234777,
                                "EvaluationRelationshipId": 1,
                                "IsOwnEvaluation": true,
                                "IsEmailSent": null,
                                "IsSmsSent": null,
                                "ExamStatus": 0,
                                "ExamStatusDesc": "未开始",
                                "EvaluationCount": 0,
                                "Deletable": true,
                                "Notifyable": true,
                                "IsEvaluated": true,
                                "Impersonatable": true,
                                "EvaluationRelationshipName": "自评",
                                "ExamMode": 1,
                                "Education": null,
                                "PoliticalStatus": null,
                                "MaritalStatus": null,
                                "Gender": null,
                                "Birthday": null,
                                "JoinTime": "2016-05-25 10:52:02",
                                "Status": "正常"
                            }, {
                                "_rowid_": 2,
                                "UserId": 511660,
                                "CustomerId": 1000071,
                                "Account": "tset160518115",
                                "Name": "李正勇",
                                "Sex": "Gay",
                                "EnglishName": null,
                                "Password": "671744",
                                "OrgTreeCode": null,
                                "Email": "10030320@qq.com",
                                "Mobile": "13690875421",
                                "IdentityNum": "440688198701350932",
                                "Phone": null,
                                "Address": null,
                                "PostalCode": null,
                                "VocationalAbility": null,
                                "Position": "男公关",
                                "Org": "秘书处",
                                "Profession": null,
                                "DomicilePlace": null,
                                "Domicile": null,
                                "CertificateNum": null,
                                "Health": null,
                                "Salary": 3000,
                                "EducationName": null,
                                "WorkYears": "10年",
                                "Major": "妇科",
                                "SalaryExpectation": null,
                                "SelfEvaluation": null,
                                "School": "中国野鸡大学",
                                "CreatedDate": "2016-05-18T12:00:34.883",
                                "Creater": "超级管理员",
                                "ModifiedDate": "2016-06-22T11:33:40.247",
                                "Modifier": "admin",
                                "IsOpenApi": null,
                                "UserExamId": 403449,
                                "EvaluationPersonId": 234754,
                                "EvaluationRelationshipId": 1,
                                "IsOwnEvaluation": true,
                                "IsEmailSent": null,
                                "IsSmsSent": null,
                                "ExamStatus": 1,
                                "OriginalStatus": null,
                                "UserExtensionFieldId": 281970,
                                "CustomField3": null,
                                "CustomField4": null,
                                "ExamStatusDesc": "答题中",
                                "EvaluationCount": 5,
                                "Deletable": true,
                                "Notifyable": true,
                                "IsEvaluated": true,
                                "Impersonatable": true,
                                "EvaluationRelationshipName": "自评",
                                "ExamMode": 0,
                                "Education": null,
                                "PoliticalStatus": null,
                                "MaritalStatus": null,
                                "Gender": null,
                                "Birthday": null,
                                "JoinTime": "2016-05-18 14:13:47",
                                "Status": "正常"
                            }, {
                                "_rowid_": 3,
                                "UserId": 503445,
                                "CustomerId": 1000073,
                                "Account": "123456",
                                "Name": "wuli滔滔",
                                "Sex": "男",
                                "EnglishName": null,
                                "Password": "xfxybzs",
                                "OrgTreeCode": null,
                                "Email": "xfxybzs@123.com",
                                "Mobile": "13690875421",
                                "IdentityNum": null,
                                "Phone": "",
                                "Address": "",
                                "PostalCode": "",
                                "VocationalAbility": null,
                                "Position": "首席执行官",
                                "Org": "总裁办",
                                "Profession": null,
                                "DomicilePlace": null,
                                "Domicile": null,
                                "CertificateNum": null,
                                "Health": null,
                                "Salary": "99999999+",
                                "EducationName": null,
                                "WorkYears": null,
                                "Major": "市场营销",
                                "SalaryExpectation": null,
                                "SelfEvaluation": null,
                                "School": "长江商学院",
                                "CreatedDate": "2016-04-22T17:48:01.07",
                                "Creater": "jianfeng.zou",
                                "ModifiedDate": "2016-05-25T10:52:02.29",
                                "Modifier": "admin",
                                "UserExamId": 403618,
                                "EvaluationPersonId": 234779,
                                "EvaluationRelationshipId": 1,
                                "IsOwnEvaluation": true,
                                "IsEmailSent": null,
                                "IsSmsSent": null,
                                "ExamStatus": 0,
                                "ExamStatusDesc": "已完成",
                                "EvaluationCount": 0,
                                "Deletable": true,
                                "Notifyable": true,
                                "IsEvaluated": true,
                                "Impersonatable": true,
                                "EvaluationRelationshipName": "自评",
                                "ExamMode": 1,
                                "Education": null,
                                "PoliticalStatus": null,
                                "MaritalStatus": null,
                                "Gender": null,
                                "Birthday": null,
                                "JoinTime": "2016-06-27 20:16:47",
                                "Status": "正常"
                            }]
                        ],
                        "PageIndex": 1,
                        "PageSize": 10,
                        "TotalPages": 1,
                        "TotalRecords": 2
                    };
                    </script>
                    <div class="setFunction bgc-gray6 clearfix">
                        <div class="check-group fl" id="selectAccount">
                            <div class="checkone inline">
                                <input type="checkbox" name="range" id="getPageItem" value="page" />
                                <span class="ffv c-gray3">当前页</span>
                            </div>
                            <div class="checkone inline">
                                <input type="checkbox" name="range" id="getAllItem" value="all" />
                                <span class="ffv c-gray3">全部（<span>3</span>）</span>
                            </div>
                        </div>
                        <div class="funBtns fl">
                            <ul class="inline">
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btn-add-account">新建帐号</a></li>
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btn-quote-account">引用帐号</a></li>
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btn-reset-psw">重置密码</a></li>
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btnBatchNotify">一键通知</a></li>
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btn-remove-account">移除</a></li>
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btn-export-account">导出</a></li>
                                <li><a href="javascript:void(0);" class="btn btn-common mgr10 ffv ant c-gray3" id="btn-import-account">导入帐号日志</a></li>
                            </ul>
                        </div>
                        <div class="setBtns fr">
                            <ul class="radiuslist inline">
                                <li><a href="javascript:void(0);" class="icon icon-set-card btnViewSwitch" data-for="card"><em class="ant">卡片式</em></a></li>
                                <li><a href="javascript:void(0);" class="icon icon-set-list btnViewSwitch" data-for="list"><em class="ant">列表式</em></a></li>
                                <li><a href="javascript:void(0);" class="icon icon-set-info" id="infoSetter"><em class="ant">帐号信息显示设定</em></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--setFunction-->
                    <div class="page-table hasPagination hasRemark">
                        <div class="overflow-table1 hiddeny">
                            <!--列表式-->
                            <table class="table table-center table-song table-relative view-container" id="listAccount">
                                <thead>
                                    <tr class="header">
                                        <th width="40" class="chkbox">
                                            <!--
                                            <div class="checkone">
                                                <input type="checkbox" name="chktall" class="chktall" id="chktallSwitch" value="all" />
                                            </div>
                                            -->
                                        </th>
                                        <th class="tl"><span field="Account">帐号</span><em class="fnormal ffs c-gray5"> | </em><span field="Password">密码</span></th>
                                        <th class="tl" field="Base">基本资料</th>
                                        <th field="Department">评价关系</th>
                                        <th class="tl" field="Department">部门</th>
                                        <th class="tl" field="JoinTime">开通时间</th>
                                        <th width="60">状态</th>
                                        <th width="150">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="card ffs fs view-container" id="cardAccount">
                                <ul></ul>
                            </div>
                        </div>
                        <div class="remark">
                            <dl class="inline">
                                <dd><i class="ico ico-mail-sending"></i>邮件等待发送</dd>
                                <dd><i class="ico ico-mail-success"></i>邮件发送成功</dd>
                                <dd><i class="ico ico-mail-fail"></i>邮件发送失败</dd>
                                <dd><i class="ico ico-msg-sending"></i>短信等待发送</dd>
                                <dd><i class="ico ico-msg-success"></i>短信发送成功</dd>
                                <dd><i class="ico ico-msg-fail"></i>短信发送失败</dd>
                            </dl>
                        </div>
                        <div class="makePGbottom">
                            <div class="pagination-out">
                                <div class="pagination" id="pageAccount"></div>
                            </div>
                            <!--pagination-out-->
                        </div>
                        <!--makePGbottom-->
                    </div>
                </div>
                <!--quuery-form-->
            </div>
        </div>
    </div>
    <script type='text/javascript'>
    var togMode = function(mode, istxt) {
        if (istxt) {
            return parseInt(mode) === 1 ? '禁用' : '启用';
        } else {
            return parseInt(mode) === 1 ? 'on' : 'off';
        }
    }
    </script>
    <script type="text/x-jquery-tmpl" id="listAccountTmpl">
        {{if IsEvaluated}}
        <tr class="ant has-tags iamview list-view out">
            {{if !ExamMode}}
            <tr class="ant has-tags iamview list-view out iamgray">
                {{/if}} {{else}}
                <tr class="ant has-tags iamview list-view in show">
                    {{if !ExamMode}}
                    <tr class="ant has-tags iamview list-view in show iamgray">
                        {{/if}} {{/if}}
                        <td class="chkbox">
                            <div class="checkone">
                                <input type="checkbox" name="chktone" class="selectItem" data-userId="${UserId}" value="all" />
                            </div>
                        </td>
                        <td class="tl">
                            <p field="Account">${Account}</p>
                            <p field="Password" class="c-gray4">${Password}</p>
                            <div class="tags nowrap">
                                <b class="fnormal c-gray4">标签：</b><span class="bgc-red tag">211</span><span class="bgc-green tag">985</span><span class="bgc-blue tag">一审不通过</span>
                            </div>
                        </td>
                        <td class="tl">
                            <p><b>${Name||Account}</b>{{if Sex}} <span class="c-gray4">（${Sex}）</span>{{/if}}<i class="icon icon-mail-waiting"></i><i class="icon icon-msg-success"></i></p>
                            <p><span class="c-gray4">邮箱：</span>${Email}</p>
                            <p><span class="c-gray4">手机：</span>${Mobile}</p>
                        </td>
                        <td>
                            <p>自评</p>
                        </td>
                        <td field="Department" class="tl">
                            <p>${Org}</p>
                            <p class="c-gray4">${Position}</p>
                        </td>
                        <td class="tl">{{if JoinTime}}
                            <p>${JoinTime.split(' ')[0]}</p>
                            <p class="c-gray4">${JoinTime.split(' ')[1]}</p>
                            {{/if}}
                        </td>
                        <td><span class="c-gray4">${ExamStatusDesc}</span></td>
                        <td class="nowrap">
                            <p class="oper-pjer mgr10"><a href="javascript:void(0);" class="toggler {{if EvaluationCount>0}}toglist{{/if}}" id="toglist${UserId}" data-userId="${UserId}"><span>${EvaluationCount}</span>个评价人<i class="icon icon-arrow-down2"></i></a></p>
                            <div class="oper-slider">
                                <p><a href="" class="mailto btn-acc-send" userid="511931"><span>发送发息</span></a></p>
                                <ol class="ant">
                                    <li><a href="javascript:void(0);" class="btn-acc-login" onclick=""><span>模拟登录</span></a></li>
                                    <li><a href="javascript:void(0);" class="btn-acc-mode mode${UserId} ${togMode(ExamMode)}" data-userId="${UserId}"><span>${togMode(ExamMode, true)}</span></a></li>
                                    <li><a href="javascript:void(0);" class="btn-acc-update" onclick=""><span>修改</span></a></li>
                                    <li><a href="javascript:void(0);" class="btn-acc-remove" onclick=""><span>移除</span></a></li>
                                </ol>
                            </div>
                        </td>
                    </tr>
    </script>
    <script type="text/x-jquery-tmpl" id="cardAccountTmpl">
        {{if IsEvaluated}}
        <li class="iamview card-view out">
            {{if !ExamMode}}
            <li class="iamview card-view out iamgray">
                {{/if}} {{else}}
                <li class="iamview card-view in show">
                    {{if !ExamMode}}
                    <li class="iamview card-view in show iamgray">
                        {{/if}} {{/if}}
                        <div class="card-one">
                            <label for="">
                                <div class="checkone">
                                    <input type="checkbox" name="chktone" class="selectItem" data-userId="${UserId}" />
                                </div>
                            </label>
                            <div class="card-params">
                                <div class="card-header clearfix">
                                    <b class="ffm">${Name||Account}</b> {{if Sex}}<span class="c-gray4">（${Sex}）</span>{{/if}} {{if EvaluationRelationshipName}}<span class="c-red">【${EvaluationRelationshipName}】</span>{{/if}} {{if Email}}<span>（${Email}）</span>{{/if}}
                                    <span><em class="fnormal c-gray4">分组：</em>${Org}</span>
                                    <span><em class="fnormal c-gray4">状态：</em>${ExamStatusDesc}</span>
                                    <span>
            <i class="icon icon-mail-waiting"></i>
            <i class="icon icon-msg-success"></i>
        </span>
                                </div>
                                <div class="card-protos clearfix">
                                    <ol class="inline">
                                        <li><span class="c-gray4">帐号：</span><span>${Account}</span></li>
                                        <li><span class="c-gray4">密码：</span><span>${Password}</span></li>
                                        <li><span class="c-gray4">手机：</span><span>${Mobile}</span></li>
                                        <li><span class="c-gray4">职位：</span><span>${Position}</span></li>
                                        <li><span class="c-gray4">身份证：</span><span>${IdentityNum}</span></li>
                                        <li><span class="c-gray4">薪酬：</span><span>${Salary}</span></li>
                                        <li><span class="c-gray4">大学：</span><span>${School}</span></li>
                                        <li><span class="c-gray4">专业：</span><span>${Major}</span></li>
                                        <li><span class="c-gray4">工作年限：</span><span>${WorkYears}</span></li>
                                    </ol>
                                </div>
                                <div class="card-tags clearfix">
                                    <div class="tags nowrap">
                                        <b class="fnormal c-gray4">标签：</b><span class="tag bgc-red">211</span><span class="tag bgc-green">985</span><span class="tag bgc-blue">一审不通过</span>
                                    </div>
                                </div>
                                <div class="card-funs clearfix">
                                    <div class="fl pdr10">
                                        <button class="btn c-blue bs ffs btn-common ant" data-userId="${UserId}">模拟登录</button>
                                        <button class="btn c-blue bs ffs btn-common ant" data-userId="${UserId}">测评任务明细（4）</button>
                                        {{if IsEvaluated}}
                                        <button class="btn c-blue bs ffs btn-common ant" data-userId="${UserId}">添加评价人</button>
                                        {{/if}}
                                        <button class="btn c-blue bs ffs btn-common ant" data-userId="${UserId}">修改</button>
                                        <button class="btn c-blue bs ffs btn-common ant" data-userId="${UserId}">删除</button>
                                        {{if IsEvaluated && EvaluationCount}}
                                        <button class="btn c-blue bs ffs btn-common ant toggler {{if EvaluationCount>0}}togcard{{/if}}" id="togcard${UserId}" data-userId="${UserId}"><em class="fnormal">${EvaluationCount}</em>个评价人 <i class="icon icon-arrow-down2"></i></button>
                                        {{/if}}
                                    </div>
                                    <div class="fl pdl10">
                                        <input class="hide switch mode${UserId}" type="hidden" id="switch${UserId}" data-userId="${UserId}" value="${parseInt(ExamMode)}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{if IsEvaluated && EvaluationCount}}
                        <ul></ul>
                        {{/if}}
                    </li>
    </script>
</body>
<script type="text/javascript">
$(function() {


    // var table = new TableSimple(tableObj, tableTmpl, {
    //     dataStyle: 'local',
    //     dataSource: tabledata,
    //     multiCtrl: true,
    //     multiStyle: 'checkbox',
    //     switchCtrl: true,
    //     switchCallback: function(o, bool) {
    //         // ceng.msg(o + ' - ' + bool);
    //         // debugger
    //         handleSwitch(o, bool)
    //     },
    //     queryString: queryForm.serialize(),
    //     pageCtrl: true,
    //     rollpageUrl: rollpageurl,
    //     headCtrl: true
    // });
    // 

    var account = {
        obj: {
            card: $('#cardAccount'),
            list: $('#listAccount')
        },
        tmpl: {
            card: $('#cardAccountTmpl'),
            list: $('#listAccountTmpl')
        }
    }

    var querySmart = new QueryForm($('#queryForm'), {
        async: function(querystr) {
            ceng.msg(querystr, {
                state: 'notice'
            });
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: querystr,
                url: queryformurl,
            }).done(function(data) {
                new TableSimple(tableObj, tableTmpl, {
                    dataStyle: 'local',
                    dataSource: data,
                    queryString: querystr,
                    multiCtrl: true,
                    multiStyle: 'checkbox',
                    pageCtrl: true,
                    headCtrl: false
                })
            })
        }
    });


    $('.overflow-table')
        .on('click', '.toglist', function() {
            var self = $(this);
            var selfid = self.data('userid');
            var selfcard = $('#togcard' + selfid);
            self.toggleClass('show');
            selfcard.toggleClass('show');
            var isload = self.attr('data-async') || 'yes';
            if (isload == 'yes') {
                $.when(getChildrenData()).done(function(data) {
                    loadAccount(self.closest('.out'), account.tmpl.list, data.Data[0], true, false);
                    loadAccount(selfcard.closest('.out'), account.tmpl.card, data.Data[0], true, false);
                    self.attr('data-async', 'no');
                    selfcard.attr('data-async', 'no');
                });
            };
            var out = self.closest('.out'),
                sub = out.nextUntil('.out');
            var cardout = selfcard.closest('.out'),
                cardsub = cardout.nextUntil('.out');
            sub.toggleClass('show');
            cardsub.toggleClass('show');
        })
        .on('click', '.morelist', function() {})
        .on('click', '.togcard', function() {
            var self = $(this);
            var selfid = self.data('userid');
            var selflist = $('#toglist' + selfid);
            self.toggleClass('show');
            selflist.toggleClass('show');
            var isload = self.attr('data-async') || 'yes';
            if (isload == 'yes') {
                $.when(getChildrenData()).done(function(data) {
                    loadAccount(self.closest('.out'), account.tmpl.card, data.Data[0], true, false);
                    loadAccount(selflist.closest('.out'), account.tmpl.list, data.Data[0], true, false);
                    self.attr('data-async', 'no');
                    selflist.attr('data-async', 'no');
                });
            };
            var out = self.closest('.out'),
                sub = out.nextUntil('.out');
            var listout = selflist.closest('.out'),
                listsub = listout.nextUntil('.out');
            sub.toggleClass('show');
            listsub.toggleClass('show');
        })
        .on('click', '.morecard', function() {});

    var getChildrenData = function(dfd) {
        var dfd = $.Deferred();
        var data = {
            evaluationPersonId: 234786,
            projectId: 4365,
            pageIndex: 1
        };
        $.ajax({
            type: 'GET',
            data: data,
            url: "/src/admin/v4.0.3/json/account.json",
            beforeSend: function() {},
            success: function(data) {
                dfd.resolve(data);
            }
        });
        return dfd.promise();
    }
    var loadAccount = function(obj, tmpl, data, ischildren, isempty) { // 
        var empty = isempty || false;
        var children = ischildren || false;
        if (isempty) {
            obj.empty();
        };
        if (children) {
            obj.after(tmpl.tmpl(data));
            var childs = obj.nextUntil('.out');
            afterLoadAccount(childs);
        } else {
            obj.append(tmpl.tmpl(data));
            afterLoadAccount(obj);
        }
    }
    var afterLoadAccount = function(obj) {
        var url = '/src/admin/v4.0.3/json/switch.json';
        var data = '';
        $('.switch', obj).switchSmart({
            enable: function(me) {
                var meid = me.attr('id').substr(6);
                var modobj = $('.mode' + meid);
                enableMode(modobj, url, data);
            },
            disable: function(me) {
                var meid = me.attr('id').substr(6);
                var modobj = $('.mode' + meid);
                disableMode(modobj, url, data);
            }
        });
        $('.btn-acc-mode').on('click', function() {
            var meid = $(this).attr('data-userId') || 0;
            var modobj = $('.mode' + meid);
            if ($(this).hasClass('on')) {
                disableMode(modobj, url, data);
            } else if ($(this).hasClass('off')) {
                enableMode(modobj, url, data);
            }
        });
        $('input.selectItem', obj).checkboxSmart({});
    }
    var enableMode = function(obj, url, data) {
        $.get(url, data, function(d) {
            if (d.Status) {
                obj.each(function() {
                    $(this).closest('.iamview').removeClass('iamgray');
                    if ($(this).hasClass('btn-acc-mode')) {
                        $(this).removeClass('off').addClass('on').children('span').text('禁用');
                    } else {
                        $(this).val('0').next('.switch-actor').removeClass('off').addClass('on');
                    }
                });
                relayer.message('启用', {}, 'resolve');
            }
        })
    }
    var disableMode = function(obj, url, data) {
        $.get(url, data, function(d) {
            if (d.Status) {
                obj.each(function() {
                    $(this).closest('.iamview').addClass('iamgray');
                    if ($(this).hasClass('btn-acc-mode')) {
                        $(this).removeClass('on').addClass('off').children('span').text('启用');
                    } else {
                        $(this).val('1').next('.switch-actor').removeClass('on').addClass('off');
                    }
                })
                relayer.message('禁用', {}, 'refuse');
            }
        })
    }

    loadAccount(account.obj.card.children('ul'), account.tmpl.card, accountInfo.Data[0], false, true);
    loadAccount(account.obj.list.children('tbody'), account.tmpl.list, accountInfo.Data[0], false, true);


    var handleSetBtn = function() {
        var sb = $('.setBtns');
        // var viewStyle = store.get('viewStyle') || 'card';
        var viewStyle = 'card';
        var clsbtn = '.icon-set-' + viewStyle;
        var clsview = '#' + viewStyle + 'Account';
        sb.find(clsbtn).addClass('cur');
        $(clsview).show();
        $('.btnViewSwitch', sb).on('click', function() {
            var self = $(this);
            $('.view-container').hide();
            $('.btnViewSwitch', sb).removeClass('cur');
            self.addClass('cur');
            var style = self.data('for') || '';
            var clsview = '#' + style + 'Account';
            // store.set('viewStyle', style);
            $(clsview).show();
        });
    }
    handleSetBtn();


    $('#getPageItem').checkboxSmart({
        
    });
    $('#getAllItem').checkboxSmart({

    });



    $('.popop').popopSmart();
    $('#pageAccount').pager({
        totalItem: 102,
        pageSize: 10,
        pageIndex: 1,
        action: function(pi, ps) {
            ceng.msg('pageIndex： ' + pi, {
                state: 'notice',
                time: 500
            });
        }
    });
})
</script>

</html>
