/*
* @Author: zyuan
* @Date:   2016-08-25 10:56:07
* @Last Modified by:   zyuan
* @Last Modified time: 2016-08-25 11:06:13
*/
/**
 * 新建项目-样例样式
 * 左侧样式
 */

.ceng-content {
    position: relative;
}

#selectSubjectType .sider-left {
    height: 480px;
    position: absolute;
}

#selectSubjectType .page-sider .sider-left .radio-group .radione {
    padding-left: 80px;
}

#selectSubjectType .radione i.radicon {
    left: 55px;
}

#selectSubjectType .sider-right .refs .subtype-title,
#selectSubjectType .sider-right .refs .subtype-scene {
    line-height: 25px;
}


/**
 * 右侧
 */

#selectSubjectType .subtype-title {
    width: 200px;
    float: left;
}

#selectSubjectType .subtype-content {
    width: 580px;
}

#selectSubjectType .subtype-content .radio-group {
    width: 620px;
    text-align: right;
}

#selectSubjectType .subtype-content .radio-group .radione {
    display: inline-block;
    width: 31px;
}

#selectSubjectType .subtype-content .radio-group .radione input {
    width: 71px;
}

.radione input[type=radio]:hover {
    cursor: pointer;
}

#selectSubjectType .subType-u-like {
    width: 620px;
    text-align: right;
    margin: 20px 0px;
    font-size: 14px;
    line-height: 25px;
}

#selectSubjectType .subType-u-like span {
    display: inline-block;
    width: 70px;
    text-align: center;
}

#selectSubjectType .subtype-body .type-num {
    width: 620px;
    text-align: right;
    margin: 10px 0px;
    font-size: 14px;
    padding-top: 5px;
}

#selectSubjectType .subtype-body .type-num span {
    display: inline-block;
    line-height: 25px;
    width: 70px;
    text-align: center;
}

#selectSubjectType .subtype-body .type-num span i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ddd;
    color: #666;
    display: inline-block;
    font-style: normal;
}

#lbt-example2 {
    display: none;
}

#lbt-example2 .subtype-body .type-num span {
    width: 145px;
}

#lbt-example2 .subType-u-like span {
    width: 140px;
}

#lbt-example2 .subType-u-like span:nth-child(1) {
    width: 90px;
}

#lbt-example2 .subtype-body .type-num span i {
    margin-left: 15px;
}

#lbt-example2 .subtype-body .type-num span:nth-child(1) {
    width: 90px;
}

#lbt-example2 .radio-inline {
    display: inline-block;
}

#lbt-example2 .radio-group {
    width: 608px !important;
    text-align: right;
    position: absolute;
}

#lbt-example2 .radio-group .radio-inline {
    width: 145px;
}

#lbt-example2 .radio-group .radio-inline:nth-child(1) {
    width: 90px;
}

#selectSubjectType .subtype-content .radio-inline .radione {
    width: 0;
}

#lbt-example2 .subtype-title {
    line-height: 25px;
}

#lbt-example2 .type-num {
    padding-top: 10px !important;
}

.subtype-body .tips {
    display: inline-block;
    position: absolute;
    top: 93px;
}

.subtype-body .tips div {
    display: inline-block;
}

.subtype-body .tips .tip1 {
    width: 40px;
    height: 21px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: 58px;
}

.subtype-body .tips .tip2,
.subtype-body .tips .tip3 {
    width: 80px;
    height: 21px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: 56px;
    text-align: center;
}

.subtype-body .tips .tip3 {
    margin-left: 65px;
}

.subtype-body .tips .tip2 span,
.subtype-body .tips .tip3 span {
    width: 1px;
    height: 21px;
    background-color: #ddd;
    display: inherit;
}

.dxt-example,
.wdt-example,
.qjlbt-example,
.qjt-example {
    display: none;
}


/**
 * 单选题-问答题
 */

.t-example .dxt-example,
.qjt-example {
    font-size: 14px;
}

.t-example .dxt-example .dxt-title,
.wdt-example .wdt-title,
.qjlbt-title,
.qjt-title {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
}

.dxt-example .dxt-content .radio-group,
.qjt-content {
    padding-left: 10px;
}

.dxt-example .dxt-content .radio-group .radione,
.qjt-content .radio-group .radione {
    line-height: 42px;
    border-bottom: 1px dashed #aaa;
}

.wdt-body textarea {
    width: 600px;
    height: 250px;
}

.qjlbt-example2 .subtype-body .tips {
    top: 151px;
}
