/*
* @Author: sihuicao
* @Date:   2016-08-30 17:14:57
* @Last Modified by:   sihuicao
* @Last Modified time: 2016-08-30 17:14:57
*/
#pate-nodata{
	display: none;
	height: 283px;
	line-height: 283px;
	text-align: center;
	font-size: 14px;
}

#pate-nodata.active{
	display: block;
}
.page-notice{
	padding-left: 15px;
	margin-bottom: 20px;
}
.subject-liang .row{
	line-height: auto;
}
.subject-liang .col-key {
	font-size: 14px;
}
.subject-liang .subject-content .col-val {
	background: #f0f6fa;
	padding:0 10px;
}
.subject-liang .subject-content .col-key {
	height: 220px;
	line-height: 220px;
}
.subject-liang .subject-content .col-val .ke-container{
	border:none;
}
.subject-liang .subject-content .col-val .ke-toolbar{
	border-bottom:none;
	background: #f0f6fa;
	padding:8px 0;
}
.subject-liang .subject-content .col-val .ke-toolbar .ke-selected {
    border: 1px solid #5690D2;
    background-color: #E9EFF6;
}
.subject-liang .subject-content .col-val .ke-outline{
	border-color:#f0f6fa;
}
.subject-liang .subject-content .col-val .ke-statusbar{
	border-top:none;
	background: #f0f6fa;
}
.subject-liang .subject-target{
	margin-top: 20px;
}
.subject-liang .subject-wrods{
	margin-top: 20px;
	display: none;
}
.subject-liang .subject-wrods.active{
	display: block;
}
.ext-td{
	position: relative;
}
.ext-category .ext-td .edit-subject-title{
	left: 0px;
}
.ext-one.second .ext-category .ext-td .edit-subject-title{
	left: 10px;
}
.ext-td .edit-subject-title{
	position: absolute;
	left:10px;
	top:17px;
	display: none;
}
.ext-td .edit-subject-title.active{
	display: block;
}
.ext-td .edit-subject-title-content{
	width:450px;
	height: 14px;
	line-height: 14px;
	outline: none;
	float: left;
	margin-left: 24px;
	border: 1px solid #dddddd;
}
.ext-td .edit-subject-title-content:focus{
	border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
}
.ext-table .ext-body .ext-one.error{
	position: relative;
	border:1px solid #ff5252;
}
.ext-table .ext-body .ext-one.sort{
	border:2px solid #2296D7;
}
.ext-table .ext-body .ext-tr.sort{
	border:2px solid #2296D7;
	background:#fff;

}
.ext-one.error .ext-error-msg{
	display: block;
}
.ext-error-msg{
	position: absolute;
	left:-1px;
	top:-31px;
	height: 30px;
	line-height: 30px;
	padding:0 5px;
	background:#ff5252;
	color:#fff;
	font-size: 12px;
	display: none;
	border-radius: 2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
}
.ext-error-msg i{
	position: absolute;
	bottom:-17px;
	left:10px;
	color:#ff5252;
}
#paperSetter .th1,#paperSetter .td1{
	padding-left:1.2%;
	width:63.8%;
}

#paperSetter .ext-category .ext-tr{
	padding: 0 2.4%;

}
#paperSetter .ext-category .ext-tr:first-child .ext-td{
	border-top: none;
}
#paperSetter .ext-category .ext-tr .ext-td{
	border-top: 1px solid #e3e4e8;
}
#paperSetter .ext-category .ext-tr .td1{
	padding-left:0;
	width:66%;
}
#paperSetter .ext-category .ext-tr .td2{
	width:16%;
}
#paperSetter .ext-category .ext-tr .td3{
	width:18%;
}
#paperSetter .ext-tr .td2 span{
	display: block;
}
.ext-table .ext-body .ext-sparate{
	padding-bottom:20px;
}
.ext-sparate .sp-txt .icon-close{

}
.query-form{
	padding:10px 10px 0;
}
.hasPagination .overflow-table{
	padding:0 10px 10px;
}
.subject-item{
	display: none;
	clear:both;
	border:1px solid #e1e1e3;
	padding:10px 10px 10px 35px;
	margin-bottom: 20px;
	list-style-type:upper-alpha;
}
.subject-item li{
	height: 25px;
	line-height: 25px;
	color:#7d7d7d;
	font-size: 12px;
}
#subject-type-select .row textarea,#subject-type-select .row input{
	padding:0 10px;
	height: 30px;
	line-height: 30px;
	width:90%;
	border-color:#e7e7e7;
}
#subject-type-select .row textarea:focus,
#subject-type-select .row input:focus,
#subject-type-select .row input.error:focus{
	border-color:#66afe9;
}
#subject-type-select .row input.error{
	border-color:#ff5252;
}
#subject-type-select .row>div:first-child span{
	color:#787878;
	font-size: 14px;
}
#subject-type-select #btn-add-option{
	margin-right: 30px;
}
#subject-type-select .sel-one {
	margin-top: 38px;
}
#subject-type-select .sel-one:first-child{
	margin-top: 0px;
}
.ext-table .ext-body .ext-one.second{
	border-top:none;
	border-left:none;
	border-right:none;
}
.ext-table .ext-body .ext-one.sort.second{
	border:2px solid #2296D7;
}
.ext-table .ext-body .ext-one.error.second{
	border:1px solid #ff5252;
}
#paperSetter .ext-one.second .ext-category .ext-tr{
	padding:0 0%;
}
#paperSetter .ext-one.second .ext-category .ext-tr .td1{
	padding-left:1.2%;
	width:63.8%;
}



#staff-message-management{
	padding:35px 20px 40px;
}
#staff-message-management td {
	padding:20px 0;
}
#staff-message-management td.handle a{
	color:#0b93e1;
	margin:0 5px;
}
#staff-message-management td:first-child{
	padding-left: 10px;
}
#staff-message-management td span{
	display: block;
	padding-left: 5px;
	font-size: 12px;
	line-height: 18px;
}
#staff-message-management td span:first-child+span{
	color:#8d8d8d;
}
#staff-message-management .list-head{
	background: #eeeeee;
	border-top:1px solid #d7d7d7;
	padding: 0 10px;
	height: 48px;
	line-height: 48px;
}
#staff-message-management .list-head .all .count{
	color:#7d7d7d;
}
#staff-message-management .list-head a{
	display: inline-block;
	border:1px solid #d7d7d7;
	background: #fff;
	padding: 8px 20px;
	line-height: 14px;
	color:#7d7d7d;
	border-radius: 1px;
	-webkit-border-radius:1px;
}
#staff-message-management .list-head a:hover{
	border-color: #278ADD;
	background: #278ADD;
	color:#fff;
}
table.table thead th{
	border-top-color:#d7d7d7;
}
#staff-message-management .query-form .date {
	float: left;
	position: relative;
	margin-right: 10px;
}
#staff-message-management .query-form .date>button,
#staff-message-management .query-form .date>i{
	position: absolute;
    right: 1px;
    top: 1px;
    font-size: 16px;
    width: 44px;
    height: 32px;
    color:#888;
    text-align: center;
    line-height: 34px;
    background: #f8f8f8;
    border-left: 1px solid #ddd;
}
.hasPagination .overflow-table{
	padding:0 0 10px;
}
#edit-staff-mes>ul{
	padding: 20px 25px;
}
#edit-staff-mes>ul>li{
	width:50%;
	float: left;
	margin-bottom: 8px;
	height: 34px;
}
#edit-staff-mes .input-group .txt{
	width: 65%;
	height: 32px;
	line-height: 32px;
}
#edit-staff-mes .input-group,
#edit-staff-mes .radio-group,
#edit-staff-mes .select-group{
	
}
#edit-staff-mes .input-group label{
	float: left;
	width:28%;
	text-align: right;
}
#edit-staff-mes .input-group span{
	background: #fff;
	border:none;
	color:#212121;
}
#edit-staff-mes .radio-group{
    line-height: 20px;
    float: left;
    padding:0;
}
#edit-staff-mes .select-group{
	
}
#edit-staff-mes .select-group>label{
    float: left;
    width: 28%;
    text-align: right;
    height: 32px;
    line-height: 32px;
}
#edit-staff-mes .select-group .selector{
	float: left;
}
.jedatebox{
	width:250px !important;
}
#edit-staff-mes .selist ul li:nth-child(1){
	display: block;
}