/*
* @Author: sison.luo
* @Date:   2016-04-17 15:40:37
* @Last Modified by:   sison.luo
* @Last Modified time: 2018-02-25 17:45:29
*/

/* Public */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td,span,em,b,i{margin:0;padding:0;}
body,button,input,select,textarea{font:normal 12px/1 simsun, verdana,"\5FAE\8F6F\96C5\9ED1","微软雅黑","Microsoft YaHei";}
html {overflow-y: scroll; font-size: 10px;}
html.noscroll{ overflow: hidden;}
ul,ol{list-style:none}
.tl{ text-align: left}
.tc{ text-align: center}
.tr{ text-align: right}
.fl{float:left}
.fr{float:right}
.hiddeny{overflow-y:hidden;}
a{color:#000; text-decoration:none;}
dl.inline dt,dl.inline dd,.inline li{float:left}
a,button,input{ outline:none}
.bbthree{ background-color: #fff; border-bottom: 3px solid #eaeaea;}
.bbthree.pagination-out{}
.spline{ border-width: 0; border-style: solid; border-color: #eee; clear: both;}
.spline.dotted{ border-style:  dotted;}
.spline.top{ border-width: 1px 0 0;}
.spline.bottom{ border-width: 0 0 1px;}
.widthly{ width:auto; margin:0 160px;}

/*空白行*/
.sp00{clear:both; height:0px; display: block; overflow: hidden;}
.sp05{clear:both; height:5px; display: block; overflow: hidden;}
.sp10{clear:both; height:1rem; display: block; overflow: hidden;}
.sp20{clear:both; height:2rem; display: block; overflow: hidden;}
.sp30{clear:both; height:3rem; display: block; overflow: hidden;}
.sp50{clear:both; height:5rem; display: block; overflow: hidden;}
.sp80{clear:both; height:8rem; display: block; overflow: hidden;}
.sp100{clear:both; height:10rem; display: block; overflow: hidden;}

/*间距*/
.pd10{padding:1rem}
.pd20{padding: 2rem;}
.pd30{padding: 3rem;}
.pd50{padding: 5rem;}
.pd100{padding: 10rem;}
.pdlr20{padding: 0 2rem;}
.pdt10{padding-top:1rem}
.pdl10{padding-left:1rem}
.pdr10{padding-right:1rem}
.pdb10{padding-bottom:1rem}
.pdb0{padding-bottom: 0;}
.pdt0{padding-top: 0;}
.mgt10{margin-top:1rem}
.mgt20{margin-top:2rem}
.mgr10{margin-right:1rem}
.mgb10{margin-bottom:1rem}
.mgl10{margin-left:1rem}

/*清除浮动*/
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix{clear:both}
dl.inline,
ul.inline{clear:both}
dl.inline dt,
dl.inline dd,
.inline li{float:left}
.block li{float: none; clear: both}

/*文本框*/
.txt{line-height:3rem; height: 3rem; padding:0 10px; position: relative; border: 1px solid #dddddd; transition: all .2s ease-in-out; outline:none; border-radius: 3px;}
.txt.ss{ line-height: 2rem; height: 2rem;}
.txt:focus,
textarea:focus{ border-color: #66afe9; box-shadow: 0 0 8px rgba(102,175,233,.6);}
.txt.errself,
textarea.errself{border-color: #ea7975; background-color: #ffe2e1}
.txt.errself:focus,
textarea.errself:focus{border-color: #ea7975; box-shadow: 0 0 8px rgba(217,84,79,.5);}
textarea{border: 1px solid #dddddd; line-height: 2rem; padding:5px 10px; resize: none; outline: none;}
textarea.default{ background: url(../images/placeholder.gif) no-repeat 0 0;}
input[disabled],
textarea[disabled],
input[readonly="readonly"],
textarea[readonly="readonly"]{background-color:#f6f6f6;color:#bbb}
input[disabled],
textarea[disabled]{ border: 1px solid #e1e1e1; background-color: #eee; color: #7d7d7d}
input.wpdate{ width: 250px; box-sizing: border-box; padding: 0 41px 0 10px; background: #fff url(../images/pageico.png) no-repeat right -100px; vertical-align: top; color: #000}
.textarea{ border-radius: 2px;}
/*常用*/

.hide{display:none}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:**px;}
.wordbreak { word-break: break-all; line-height:1.5; white-space:normal;}
.relative{ position: relative;}
.absolute{ position: absolute;}
.nowrap{ white-space: nowrap;}
.unline{text-decoration:underline}
.disabled{ cursor: not-allowed;}

/*动画*/
.ant{ transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease;}
.radiuslist li:first-child,
.radiuslist li:first-child>a{ border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.radiuslist li:last-child,
.radiuslist li:last-child>a{ border-top-right-radius: 3px; border-bottom-right-radius: 3px;}

/* 栅格系统 */
.row{clear:both;line-height:3rem}
.row:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.row.plr20{ padding-left: 2rem; padding-right: 2rem;}
.row.plr50{ padding-left: 5rem; padding-right: 5rem;}
.row .col-xs-1{width:8.33333333%}
.row .col-xs-2{width:16.66666667%}
.row .col-xs-3{width:25%}
.row .col-xs-4{width:33.33333333%}
.row .col-xs-5{width:41.66666667%}
.row .col-xs-6{width:50%}
.row .col-xs-7{width:58.33333333%}
.row .col-xs-8{width:66.66666667%}
.row .col-xs-9{width:75%}
.row .col-xs-10{width:83.33333333%}
.row .col-xs-11{width:91.66666667%}
.row .col-xs-12{width:100%}
.row .col-xs-w100{width: 100px}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-w100{float:left;position:relative;padding-top:1px}
.col-xs-1:after, .col-xs-2:after, .col-xs-3:after, .col-xs-4:after, .col-xs-5:after, .col-xs-6:after, .col-xs-7:after, .col-xs-8:after, .col-xs-9:after, .col-xs-10:after, .col-xs-11:after, .col-xs-12:after{
    content: " "
}

/*绝对居中*/
.absolutecenter{position:relative;float:left;left:50%}
.absolutecenter .acsub{position:relative;float:left;right:50%;display:block}
.absolutecenter .acsub + .acsub{ margin: 0 0 0 1.5rem;}

/*按钮*/
.btn{ display: inline-block; height: 3rem; line-height: 3rem; padding: 0 15px; text-decoration: none; border-radius: 2px; outline: none; cursor: pointer; vertical-align: top;}
.btn i{ padding: 0 3px;}
.btn i:before{ font-size: 18px; color: #fff; float: left; line-height: 3rem;}
.btn span{ color: #fff;}
input[type="button"],
button{ border: none; color: #fff;}
.btn.bb{ height: 3.5rem; line-height: 3.5rem; padding: 0 2rem;}
.btn.bb i:before{ line-height: 3.5rem;}
.btn.bs{ height: 2.5rem; line-height: 2.5rem;}
.btn.bs i:before{ line-height: 2.5rem;}
.btn-common{ color: #333; background-color: #fff; border: 1px solid #ddd;}
.btn-common.bb{}
.btn-common i:before,
.btn-common span{ color: #333;}
.btn-common:hover{ background-color: #278ADD; border-color: #278ADD; color: #fff;}
.btn-common:hover i:before,
.btn-common:hover span{ color: #fff;}
a.btn-common{ height: 3rem; line-height: 3rem;}


/*字体图标*/
/*
@font-face {
    font-family: 'icomoon';
    src: url('../../../fonts/icomoon.eot');
    src: url('../../../fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('../../../fonts/icomoon.ttf') format('truetype'),
        url('../../../fonts/icomoon.woff') format('woff'),
        url('../../../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-company:before{ content: '\e900';}
.icon-member1:before{ content: '\e901';}
.icon-member2:before{ content: '\e903';}
.icon-member3:before{ content: '\e900';}
.icon-search:before{ content: '\e902';}
.icon-sign-full:before{ content: '\e905';}
.icon-add:before{ content: '\e90f';}
.icon-addr:before{ content: '\e906';}
.icon-date:before{ content: '\e949';}
.icon-set-info:before{ content: '\e92f';}
.icon-set-list:before{ content: '\e92e';}
.icon-set-card:before{ content: '\e92d';}
.icon-arrow-down2:after{ content: '\e94b'}
.icon-arrow-up2:after{ content: '\e94c'}
.icon-arrow-down:after{ content: '\e94e'}
.icon-arrow-up:after{ content: '\e94d'}
.icon-camera:after{ content: '\e94a'}
.icon-edu-hat:after{ content: '\e90e'}
.icon-people:after{ content: '\e910'}
.icon-people-id:after{ content: '\e911'}
.icon-people-dot:after{ content: '\e912'}
.icon-menu2:after{ content: '\e913'}
.icon-target:after{ content: '\e914'}
.icon-ping:after{ content: '\e915'}
.icon-abacus:after{ content: '\e916'}
.icon-index:after{ content: '\e917'}
.icon-at:after{ content: '\e918'}
.icon-influence:after{ content: '\e919'}
.icon-building:after{ content: '\e91a'}
.icon-dollar:after{ content: '\e91b'}
.icon-shopping-cart:after{ content: '\e91c'}
.icon-shoulder:after{ content: '\e91d'}
.icon-car:after{ content: '\e91e'}
.icon-reading:after{ content: '\e91f'}
.icon-waiter:after{ content: '\e920'}
.icon-first-aid-kit:after{ content: '\e921'}
.icon-vcr:after{ content: '\e922'}
.icon-global-trip:after{ content: '\e923'}
.icon-rmb:after{ content: '\e924'}
.icon-bulb:after{ content: '\e925'}
.icon-ellipsis-round:after{ content: '\e926'}
.icon-praise:after{ content: '\e927'}
.icon-edit:after{ content: '\e929'}
.icon-arrow-upper:after{ content: '\e92a'}
.icon-arrow-donwer:after{ content: '\e92b'}
.icon-delete:after{ content: '\e92c'}
.icon-mail-waiting:after{ content: '\e930'}
.icon-mail-success:after{ content: '\e931'}
.icon-mail-fail:after{ content: '\e932'}
.icon-msg-waiting:after{ content: '\e933'}
.icon-msg-success:after{ content: '\e934'}
.icon-msg-fail:after{ content: '\e935'}
.icon-loop:after{ content: '\e937'}
.icon-folder:after{ content: '\e938'}
.icon-computer-input:after{ content: '\e939'}
.icon-loading-full:after{ content: '\e93a'}
.icon-structure-full:after{ content: '\e93b'}
.icon-edit-full:after{ content: '\e93c'}
.icon-website-full:after{ content: '\e93d'}
.icon-flag-full:after{ content: '\e93e'}
.icon-praise-full:after{ content: '\e93f'}
.icon-tag-full:after{ content: '\e940'}
.icon-close-round:after{ content: '\e941'}
.icon-file-two:after{ content: '\e942'}
.icon-computer-play:after{ content: '\e943'}
.icon-list-digital:after{ content: '\e944'}
.icon-resolve-full:after{ content: '\e945'}
.icon-buliding2:after{ content: '\e946'}
.icon-resume:after{ content: '\e947'}
.icon-computer-round:after{ content: '\e948'}
.icon-ellipsis:after{ content: '\e90b'}
.icon-resolve:after{ content: '\e90c'}
.icon-praise2:after{ content: '\e90d'}
.icon-folder-collapse:after{ content: '\e907'}
.icon-folder-expand:after{ content: '\e908'}
.icon-close:after{ content: '\e904'}
.icon-question-full:after{ content: '\e936'}
.icon-date2:after{ content: '\e94f'}
.icon-tie:after{ content: '\e950'}
.icon-gcd:after{ content: '\e951'}
*/

/*圆角*/
.round{ border-radius: 50%; display: inline-block;}
.round05{border-radius: 5px;}
.round50{ border-radius: 5rem; width: 5rem; height: 5rem; line-height: 5rem; display: inline-block;}
.round60{ border-radius: 6rem; width: 6rem; height: 6rem; line-height: 6rem; display: inline-block;}


/*宽度*/
.wp100{ width: 100%; box-sizing: border-box;}
.w40{ width: 4rem;}
.w50{ width: 5rem;}
.w100{ width: 10rem;}
.w200{ width: 20rem;}
.w300{ width: 30rem;}
.w400{ width: 40rem;}
.w500{ width: 50rem;}

/*字体大小，字体，行高*/
.fb{font-size:16px}
.fm{font-size:14px}
.fs{font-size:12px}
.fs15{font-size: 15px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs21{font-size: 21px;}
.fs22{font-size: 24.3px;}
.fs27{font-size: 27px;}
.fs30{font-size: 30px;}
.fs36{font-size: 36px;}
.fs50{font-size: 50px;}
.fs60{font-size: 60px;}
.fs80{font-size: 80px;}
.ffs{font-family: simsun;}
.ffv{font-family: verdana;}
.ffm{font-family: 'Microsoft YaHei';}
.fbold{font-weight: bold;}
.fnormal{font-weight: normal; font-style: normal;}
.lh{ line-height: 1.5em;}
.lhem{ line-height: 1em;}
.lh20{ line-height: 20px;}
.lh24{ line-height: 24px;}
.lh30{ line-height: 30px;}
.lh34{ line-height: 34px;}
.lh40{ line-height: 40px;}
.tu{text-decoration: underline;}
.txtsp{padding: 0 3px;}
.dc{ margin: 0 auto;}

/*置底加权重*/
/*颜色*/
.c-blue{color:#2296D7}
.c-orange{color:#FF7C08}
.c-red{color:#F00}
.c-brown{color: #996736;}
.c-green{color: #6DBB56}
.c-gray1{ color: #000;}
.c-gray2{ color: #333;}
.c-gray3{ color: #666;}
.c-gray4{ color: #aaa;}
.c-gray5{ color: #ddd;}
.c-white{ color: #fff;}
.c-yellow{ color: #F0B23B;}

/*背景色*/
.bgc-red{background-color:#FF5253}
.bgc-red-light{background-color:#F9B9B9}
.bgc-blue{background-color:#278ADD}
.bgc-blue-light{background-color: #98BAD6}
.bgc-green{background-color:#6CBA55}
.bgc-gray1{background-color: #454545;}
.bgc-gray2{background-color: #666;}
.bgc-gray3{background-color: #888;}
.bgc-gray4{background-color: #aaa;}
.bgc-gray5{background-color: #ddd;}
.bgc-gray6{background-color: #eee;}
.bgc-gray7{background-color: #f6f6f6;}
.bgc-white{ background-color: #fff;}
.bgc-yellow{ background-color: #9A6732;}

/*边框色*/
.bc-blue{border-color: #1182bd;}
.bc-green{border-color: #4dab31;}
.bc-red{border-color: #d04040;}

/*按钮颜色*/
.btn-blue { background-color: #278ADD; border-color: #1182bd; color: #fff; text-shadow: 1px 1px 0 #1182bd;}
.btn-green { background-color: #6DBB56; border-color: #4dab31; color: #fff; text-shadow: 1px 1px 0 #4dab31;}
.btn-red { background-color: #FF5353; border-color: #d04040; color: #fff; text-shadow: 1px 1px 0 #d04040;}
.btn-yellow{ background-color: #fda62b; border-color: #fda62b; color: #fff; text-shadow: 1px 1px 0 #bb6e00;}
.btn-brown{ background-color: #9A6732; border-color: #9A6732; color: #fff; text-shadow: 1px 1px 0 #714920;}

/*表单*/
.errtip{ position: absolute; bottom: -30px; background-color: #ea7975; z-index: 1; color: #fff; font-size: 12px; line-height: 25px; padding: 0 10px; border-radius: 3px; box-shadow: 1px 1px 3px rgba(217, 84, 79, 0.5)}
.errtip:after{ content: ''; position: absolute; border-left: 5px dashed transparent; border-right: 5px dashed transparent; border-bottom: 5px solid #ea7975; left: 20px; top: -5px;}
.txt + .errtip{ bottom: -30px;}
.col-val{ position: relative;}
.required .col-key span:before{ content: '*'; color: #f00; padding: 0 8px 0 0;}

/*弹出层*/
.ceng-ready,
.pop-ready{display: none; height: 100%; overflow: auto}
.ceng-black{position: fixed; left: 0; top: 0; z-index: 0; opacity: 0; background-color: #000; height: 100%; width: 100%; _height: expression(document.body.offsetHeight+"px"); transition: opacity .2s ease}
.ceng{position: fixed; box-shadow: 0 1px 15px rgba(0,0,0,.2); border-radius: 4px; transition: opacity .2s ease,transform .2s ease}
.ceng-title{background-color: #fff; color: #888; height: 3.5rem; font-weight: normal; font-size: 1.4rem; line-height: 3.5rem; position: relative; padding: 0 50px 0 15px; border-radius: 2px 2px 0 0; cursor: move; border-bottom: 1px solid #e6e6e6;}
.ceng-title p{width: 100%}
.ceng-title a{width: 3.5rem; display: block; height: 3.5rem; position: absolute; right: 0; top: 0; border-radius: 0 2px 0 0}
.ceng-title a:hover{background-color: #1f7ac5; text-decoration: none}
.ceng-title a i.icon-close{display: block; height: 3.5rem; line-height: 3.5rem; font-size: 16px; text-align: center; color: #fff}
.ceng-title a:hover i.icon-close{transform: rotate(90deg)}
.ceng-content{word-break: break-all; position: relative;}
.ceng-msg{color: #fff; background-color: rgba(80,80,80,.8); padding: 20px 25px; min-width: 60px; max-width: 400px; border-radius: 3px; position: fixed; text-align: center; line-height: 1.75}
.ceng-msg .ceng-content i.icon.icon-state{width: 3.5rem; height: 3.5rem; line-height: 3.5rem; position: absolute; left: 0; top: 50%; margin-top: -20px; font-size: 2rem}
.ceng-msg.notice .ceng-content,
.ceng-msg.resolve .ceng-content{padding-left: 3rem; text-align: left}
.ceng-msg.notice{background-color: rgba(217,84,79,.9)}
.ceng-msg.resolve{background-color: rgba(108,186,85,.9)}
.ceng-alert,
.ceng-comfirm,
.ceng-iframe{min-width: 66.66667%; max-width: 90%}

.ceng-alert .ceng-content,
.ceng-comfirm .ceng-content,
.ceng-hello .ceng-content,
.ceng-iframe .ceng-content{background-color: #fff; padding: 30px 20px; color: #454545; font-size: 1.4rem; line-height: 1.75; text-align: center}
.comfirm2,
.hello2{border-radius: 5px; border: 8px solid rgba(0,0,0,.8); padding: 0; box-shadow: 0 0 20px rgba(0,0,0,.2)}
.comfirm2 .ceng-title,
.hello2 .ceng-title{background-color: #fff}
.comfirm2 .ceng-title a i.icon-close,
.hello2 .ceng-title a i.icon-close{color: #278add}
.comfirm2 .ceng-title a:hover,
.hello2 .ceng-title a:hover{background-color: #eee}
.comfirm2 .ceng-content{padding: 10px 100px 40px; font-size: 1.4rem; line-height: 3rem}
.comfirm2 .ceng-btn,
.hello2 .ceng-btn{background-color: transparent; border: none}
.ceng-ant{transition: all .2s ease}
.ceng-iframe .ceng-content{overflow: hidden}
.ceng-iframe .ceng-content iframe{width: 100%; height: 100%}
.ceng-comfirm,
.ceng-hello{background-color: #fff;}
.ceng-hello .ceng-content{overflow: auto;}
.ceng-btn{border-top: 1px solid #e6e6e6;}
.ceng-btn .flexbtn{ display: flex; display: -webkit-flex; display: -moz-flex; }
.ceng-btn .btn{ flex: 1; background-color: #fafafa; color: #454545; text-align: center; width: auto; font-size: 1.4rem; text-shadow: none; height: 3.5rem; line-height: 3.5rem; background-color: #fafafa; border-radius: 0; box-sizing: border-box;}
.ceng-alert .ceng-btn .btn,
.ceng-comfirm .ceng-btn .btn:last-child { color: #FD6720; }
.ceng{opacity: 0; transform: translateY(-5px)}
.ceng.fadeIn{opacity: 1; transform: translateY(0)}
.ceng.ceng-loading{box-shadow: none}
.ceng-btn .btn + .btn { border-left: 1px solid #ddd; }
.ceng-btn .btn:first-child { border-bottom-left-radius: 2px;}
.ceng-btn .btn:last-child { border-bottom-right-radius: 2px;}
.ceng-loader{width: 150px; text-align: center}
.ceng-loader>div{width: 18px; height: 18px; background-color: #ff5253; margin: 0 5px; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both}
.ceng-loader .bounce1{-webkit-animation-delay: -.32s; animation-delay: -.32s}
.ceng-loader .bounce2{-webkit-animation-delay: -.16s; animation-delay: -.16s}
@-webkit-keyframes bouncedelay{0%,80%,to{-webkit-transform: scale(0)} 40%{-webkit-transform: scale(1)}}
@keyframes bouncedelay{0%,80%,to{transform: scale(0); -webkit-transform: scale(0)} 40%{transform: scale(1); -webkit-transform: scale(1)}}

/*
.pop-ready,
.ceng-ready{ display: none;}
.ceng-black{ position: fixed; left: 0; top: 0; z-index: 0; opacity: 0; background-color: #000; height: 100%; width: 100%; _height: expression(document.body.offsetHeight+"px"); transition: opacity .2s ease;}
.ceng{ position: fixed; box-shadow: 0 1px 15px rgba(0,0,0,0.2); border-radius: 4px; transition: opacity .2s ease, transform .2s ease;}
.ceng-title{ background-color: #278ADD; color: #fff; height: 45px; font: normal 14px/45px verdana; position: relative; padding: 0 50px 0 15px; border-radius: 2px 2px 0 0; cursor: move}
.ceng-title p { width: 100%;}
.ceng-title a{ width: 45px; display: block; height: 45px; position: absolute; right: 0; top: 0; border-radius: 0 2px 0 0;}
.ceng-title a:hover{ background-color: #1F7AC5;}
.ceng-title a i.icon-close{ display: block; height: 45px; line-height: 45px; font-size: 16px; text-align: center; color: #fff;}
.ceng-title a:hover i.icon-close{ transform: rotate(90deg);}
.ceng-content{ word-break: break-all; position: relative;}
.ceng-msg{ color: #fff; background-color: rgba(80,80,80,0.8); padding: 20px 25px; min-width: 60px; max-width: 400px; border-radius: 3px; position: fixed; text-align: center; line-height: 1.75;}
.ceng-msg .ceng-content i.icon.icon-state{ width: 40px; height: 40px; line-height: 40px; position: absolute; left: 0; top: 50%; margin-top: -20px; font-size: 24px;}
.ceng-msg.notice .ceng-content,
.ceng-msg.resolve .ceng-content{ padding-left: 36px; text-align: left;}
.ceng-msg.notice{ background-color: rgba(217,84,79,0.9);}
.ceng-msg.resolve{ background-color: rgba(108,186,85,0.9);}
.ceng-alert,
.ceng-comfirm,
.ceng-iframe{ background-color: #fff; min-width: 400px;}
.ceng-alert .ceng-content,
.ceng-comfirm .ceng-content{ padding: 30px; font-size: 14px; text-align: center;}
.ceng-alert .ceng-btn,
.ceng-comfirm .ceng-btn{ background-color: #f6f6f6; padding: 19px 0;}
.hello2,
.comfirm2{ border-radius: 5px; border-style: solid; border-width: 8px; border-color: rgba(0,0,0,0.8); padding: 0; box-shadow: 0 0 20px rgba(0,0,0,0.2);}
.ceng.ceng-loading{ box-shadow: none;}
.hello2 .ceng-title,
.comfirm2 .ceng-title{ background-color: #fff;}
.hello2 .ceng-title a i.icon-close,
.comfirm2 .ceng-title a i.icon-close{ color: #278ADD;}
.hello2 .ceng-title a:hover,
.comfirm2 .ceng-title a:hover{ background-color: #eee}
.comfirm2 .ceng-content{ padding: 10px 100px 40px; font-size: 20px; line-height: 34px;}
.hello2 .ceng-btn,
.comfirm2 .ceng-btn{ background-color: transparent; border: none;}
.ceng-ant{ transition: all .2s ease;}
.ceng-iframe .ceng-content{ overflow: hidden;}
.ceng-iframe .ceng-content iframe{ width: 100%; height: 100%;}
.ceng-comfirm,
.ceng-hello{ background-color: #fff;}
.ceng.ceng-hello .ceng-content{ overflow: auto;}
.ceng-btn{ border-radius: 0 0 2px 2px; border-top: 1px solid #eee; padding: 19px; background-color: #f6f6f6;}
.ceng-btn .btn{ background-color: #FAFAFA; border: 1px solid #ddd; color: #666; padding: 0 30px; margin: 0 5px; font-size: 14px; font-weight: bold; font-family: verdana, simsun;}
.ceng-btn .btn.btn0{ background-color: #278ADD; border-color: #278ADD; color: #fff;}

.ceng{ opacity: 0; transform: translateY(-5px)}
.ceng.fadeIn{ opacity: 1; transform: translateY(0)}
*/
/*
.ceng-loading,
.ceng-msg,
.ceng-alert,
.ceng-comfirm,
.ceng-hello,
.ceng-iframe{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9, 0.9);
    transform: translateY(-5px);
}
.ceng-loading.fadeIn,
.ceng-msg.fadeIn,
.ceng-alert.fadeIn,
.ceng-comfirm.fadeIn,
.ceng-hello.fadeIn,
.ceng-iframe.fadeIn{
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
    transform: translateY(0);
}
*/
/*弹出层loading*/
.ceng.ceng-loading { box-shadow: none;}
.ceng-loader {
  width: 150px;
  text-align: center;
}
.ceng-loader > div {
  width: 18px;
  height: 18px;
  background-color: #FF5253;
  margin: 0 5px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ceng-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.ceng-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*原生 SELECT*/
.se-border{border:1px solid #ddd;padding:5px;float:left;background:#fff;position:relative;top:0px;top:-2px\9;line-height:22px}
.se-border .se-hidden{width:50px;*width:58px;height:20px;overflow:hidden}
.se-border .se-hidden select{width:50px;*margin:-2px;border:none;background:transparent;outline:none;font-size:12px;height:20px}
.select-group .se-border{top:0;top:0\9}
.select-group .se-border .se-hidden{width:100px;*width:98px;height:22px;height:23px\9}
.select-group .se-border .se-hidden select{width:100%;font-size:14px;border:none}
.se-border-width100percent{width:100%;border:1px solid #ccc;padding:6px;float:left;background:#fff;box-shadow:0 0 3px #eee inset;position:relative;line-height:22px;top:-1px;top:-2px\9}
.se-border-width100percent .se-hidden{width:60px;*width:58px;height:20px;overflow:hidden}
.se-border-width100percent .se-hidden select{width:60px;*margin:-2px;border:none;padding:1px;background:transparent;outline:none;font-size:12px}
.select-group.full .se-border .se-hidden{ width:100%;}
.select-group .selector{ display: block;}

/*插件 SELECT*/
.select-group.render select{ position: absolute; left: -100px; right: 0; display: none;}
.selector{ position:relative; width:auto;}
.selector + .selector{ margin-left: -1px;}
.selector dl{ line-height:30px;}
.selector .setitle{ border:1px solid #ddd; border-radius: 2px;}
.disabled .setitle{ border-color:#ddd; position: relative; z-index: 2;}
.selector .setitle i{ position: absolute; top: 50%; right: 10px; margin-top: -4px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #aaa; cursor: pointer;}
.selector .setitle a{ display:block; line-height:32px; white-space:nowrap; padding:0 25px 0 10px; text-decoration:none; color:#333; background-color: #fff}
.disabled .setitle a{ color:#aaa;}
.disabled .setitle i,
.disabled .setitle a{ cursor:not-allowed;}
.selector .selist{ position:absolute; top:33px; left:0; opacity: 0; box-sizing:border-box; min-width:100%; background-color:#fff; visibility: hidden; max-height: 360px; max-width: 480px; border:1px solid #66afe9; transform: translateY(5px);}
.curse{ position: relative; z-index: 9999;}
.curse .setitle{ border-color: #66afe9; box-shadow: 0 0 8px rgba(102,175,233,.6);}
.curse .selist{ opacity: 1; box-shadow: 0 4px 12px rgba(0,0,0,.125); visibility: visible; transform: translateY(0px)}
.curse .setitle i{ transform: rotate(180deg);}
.selector .selist ul li{ padding:4px 10px; line-height:20px; cursor:pointer; white-space: nowrap;}
.selector .selist ul li:first-child{ border-top:none;}
.selector .selist ul li:last-child{ border-bottom:none;}
.selector .selist ul li.curli{ background-color: #ddd; color: #000;}
.selector .selist ul li:hover{ background-color:#2689DC; color: #fff}

/*SELECT error*/
.errself + .selector .setitle{ border: 1px solid #ea7975}
.errself + .selector .setitle a{ background-color: #ffe3e2;}
