/*
* @Author: zyuan
* @Date:   2016-09-06 11:04:18
* @Last Modified by:   zyuan
* @Last Modified time: 2016-09-13 17:47:13
*/

.compareContent .ref .row .col-xs-1 {
    text-align: left;
    width: 5%;
    min-width: 70px;
}

.reportCompareDetail .compareContent .input-group label {
    // width: 16%;
    float: left;
}

.reportCompareDetail .compareContent .input-group label span:hover {
    cursor: pointer;
}

.reportCompareDetail .compareContent {
    border-bottom: 1px solid #ddd;
}

.resultSearch .ref .search-group .input-group label {
    float: left;
    margin-right: 10px;
    width: 30%;
}

.resultSearch .ref .search-group .input-group label .txt {
    width: 100%;
}

.search-group .simStyle {
    color: #333;
    text-align: left;
}

.search-group .higher-search .select-group {
    text-align: right;
    float: right;
}

.higher-search .select-group .selist .curli {
    display: none;
}

.resultSearch .search-group .input-group span,
.resultSearch .search-group .input-group button {
    line-height: 32.9px;
}

#select-compare-obj .pagination-bottom,
#select-compare-obj .makePGbottom {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#select-compare-obj .pagination-out,
#select-compare-obj .pagination-out .pagination {
    height: auto;
}

#select-compare-obj .pagination-out .pagLi:nth-child(3),
#select-compare-obj .pagination-out .pagLi:nth-child(4) {
    margin-top: 10px;
}

#select-compare-obj #compareTeam .checkone {
    text-align: left;
}

#select-compare-obj #compareTeam .checkone span {
    padding-left: 42px;
}

.compareResult #compareReportResult tbody tr td:nth-child(1) .checkone {
    text-align: left;
}

.compareResult .pagination-bottom,
.compareResult .makePGbottom {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}

#compareReportDetail .compareContent .compareContentDetail .input-group .del-add {
    width: 20px;
    border-radius: 2px;
}

#compareReportDetail .compareContent .compareContentDetail .input-group .del-add span {
    background: #288add;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #288add;
    display: inline;
    line-height: 34px;
}

#compareReportDetail .compareContent .input-group .del-add span:nth-child(1) {
    margin-right: 10px;
}

#higher-search .row {
    margin: 20px auto;
}

#higher-search .row .col-xs-2 {
    text-align: left;
    width: 5%;
    min-width: 70px;
}

#higher-search .row:nth-child(1) .col-xs-10 .input-group label span:hover {
    cursor: pointer;
}

#higher-search .row:nth-child(2) .col-xs-10 span {
    padding: 8px 10px;
    border-radius: 2px;
}

#higher-search .row:nth-child(2) .col-xs-10 span:hover {
    cursor: pointer;
    background-color: #288add;
    color: #fff;
}

#higher-search .row:nth-child(3) textarea {
    width: 90%;
    height: 100px;
}

#higher-search .row:nth-child(3) .col-xs-1 {
    padding-top: 79px;
}

#compareReportDetail .compareResult .page-table tbody tr td:nth-child(5) span {
    padding: 6px;
    border: 2px solid #288add;
    border-radius: 50%;
    color: #288add;
}

#compareReportDetail .compareResult .page-table tbody tr td:nth-child(6) a {
    color: #288add;
}

#compareReportDetail .resultSearch .search-group .u-like {
    text-align: center;
}

.search-group,
.compareContent {
    color: #666;
}

.icon-date {
    color: #333!important;
}

.jedatebox {
    width: 20.2% !important;
}

#higher-search .only-text label {
    width: 0%;
}

.selist ul li:nth-child(1) {
    display: none;
}

.compareTargetDetail .selector,
.compareObjDetail .selector {
    display: inline-block !important;
}

.btn-blue {
    background-color: #288add;
    color: #fff;
}

.mgt40 {
    margin-top: 40px;
}

.mgl20{
	margin-left: 20px;
}
.mgt20{
	margin-top: 20px;
}
.s-cur{
	background-color: #288add;
	color: #fff;
}
