/*
* @Author: zyuan
* @Date:   2016-08-23 18:37:45
* @Last Modified by:   zyuan
* @Last Modified time: 2016-09-01 10:29:27
*/


/**
 * 选项设置-样式
 */

#setSubjectType {
    width: 800px;
    margin: auto;
}

.examples {
    margin: 10px auto;
}

.example2 {
    display: none;
}

.example .row .text-right {
    text-align: right;
}

.example .row .text-right,
.example .col-xs-9 span {
    font-size: 14px;
    color: #666;
}

.example .col-xs-9 .icon-sign-full {
    color: #278add;
}

.example .select-in-simple-row {
    color: #666;
}

.example .icon-sign-full {
    padding-left: 10px;
}

.example1 .lb-table {
    border: 1px solid #ccc;
}
.example1 .lb-table tbody tr .input-val input{
    text-align: center;
    color: #666;
}
.example1 .lb-table tbody tr td:nth-child(1) .input-val input{
    background-color: #eee;
}

.example1 .lb-table thead {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.example1 .lb-table thead tr th {
    font-weight: thin;
    color: #666;
    font-size: 12px;
}

.example .row:nth-child(2),
.example .row:nth-child(3) {
    margin-top: 20px;
}

.example1 .row .lb-table tbody tr {
    text-align: center;
    line-height: 64px;
}

.example1 .row .lb-table tbody tr a {
    text-decoration: underline;
    color: #278add;
}

.example .row .col-xs-10 .input-val input {
    height: 27px;
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.example1 .row .col-xs-10 .input-val input {
    width: 68%;
}

.example2 .row .col-xs-10 .input-val input {
    width: 100%;
}

.example1 .row .col-xs-10 .lb-table tbody tr {
    border-bottom: 1px solid #ccc;
}

.example1 .row .col-xs-10 .lb-table tbody tr .div {
    color: #666;
}

.example1 .row .title-preview {
    border: 1px solid #ddd;
}

.example1 .row .abc {
    boder: 1px solid #ddd;
}

.example1 .row .lp-title {
    width: 15%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -43px;
}

.example1 .row .abc .lb-show {
    width: 80%;
}

.example .row:nth-child(3) .col-xs-10 {
    width: 664.46px;
    border: 1px solid #ddd;
}

div.point input {
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
}

div.point span,div.to-position span{
    color: #666;
}

div.to-position input {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
} 

div.point input:hover,
div.to-position input:hover {
    cursor: pointer;
}

.lb-table td div.to-left {
    text-align: right;
}

.lb-table td div.to-right {
    text-align: left;
}

.to-left span {
    padding-right: 10px;
}

.to-right input {
    padding-left: 10px;
}

.example2 .row .input-val:nth-child(2) {
    margin-top: 10px;
}


//题目预览
.lb-l-show{
    display: inline-block;
}
.lb-l-show li{
    font: normal 12px/20px "微软雅黑","Microsoft YaHei";
    float: left;
    height: 110px;
    text-align: center;
}
.lb-show li p{
    overflow: hidden;
    line-height: 24px;
    white-space: nowrap;
}
.lb-show li span{
    display: block;
    position: relative;
    float: left;
    width: 45px;
    padding: 30px 0 0;
}
.lb-show li span em{
    position: absolute;
    left: -50%;
    top: 8px;
    display: block;
    width: 45px;
    height: 14px;
    border-right: 1px solid #ccc;
}
.lb-show li span + span em{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.lb-show li span b{
    font-weight: normal;
    font-family: simsun;
    width: 20px;
    height: 20px;
    display: block;
    background: #eee;
    border-radius: 100%;
    margin: -8px auto 7px;
    box-shadow: 0 0 10px #ccc inset;
    color: #666;
}
.lb-show li span input{
    position: relative;
}

.preview .col-xs-2{
    width: 13%;
}

.preview .col-xs-8{
    width: 87%;
}

.preview .col-xs-8 .lb-r-show{
    width: 100px;
}

.preview .lb-r-show{
    float: none;
    display: inline-block;
}

.preview .lb-show li{
    font: normal 12px/20px "微软雅黑","Microsoft YaHei";
    float: left;
    height: 110px;
    text-align: center;
}

.lb-show .lb-r-show li p, .lb-show .lb-r-show li span em{
    visibility: hidden;
}

.lb-show .lb-r-show li span, .lb-show .lb-r-show li span b{
    width: 100px;
}
.lb-show .lb-r-show li p, .lb-show .lb-r-show li span em{
    visibility: hidden;
}
.lb-show .lb-r-show li span b{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.lb-show li span input{
    position: relative;
}
.lb-show .lb-r-show li span b{
    font-weight: normal;
    font-family: simsun;
    height: 20px;
    display: block;
    background: #fff;
    border-radius: 100%;
    margin: -8px auto 7px;
    box-shadow: none;
}

//样例2-题目预览
.col-xs-10 .lbt-style-simple-option{
    text-align: center !important;
    position: relative;
    right: 50%;
    float: left;
}

.lbt-style-simple-option .option-text{
    height: 30px;
    width: 160px;
    margin: auto;
}

.lbt-style-simple-option .option-text b{
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    display: inline-block;
}
.lbt-style-simple-option .option-radio{
    border-top: 1px solid #ccc;
    text-align: center;
    display: inline-block;
}
.lbt-style-simple-option .option-radio span{
    display: inline-block;
    // float: left;
    width: 60px;
    // border-top: 1px solid #666;
    text-align: center;
}
.lbt-style-simple-option .option-radio span label{
    display: block;
    height: 60px;
    text-align: center;
}
.lbt-style-simple-option .option-radio span label b{
    display: block;
    width: 20px;
    margin: 12px auto 10px;
    height: 20px;
    background-color: #ddd;
    border-radius: 100%;
    font: normal 12px/20px verdana;
    color: #666;
}
.lbt-style-simple-option .option-text b.pull-left{
    float: left;
    font-size: 14px;
}
.lbt-style-simple-option .option-text b.pull-right{
    float: right;
    font-size: 14px;
}

