<div id='add-relationship-preview'>
	<input type="hidden" id="targetIndex" name="" value=""/>
	<div class="page-feature-body ffv">
		<div class="ref">
			<div class="">
				<div class="" id="previewRelationship"></div>
				<script type="text/javascript">
					var targetIndex = $('#targetIndex').val();
					var tableDataForPreview = {
						"Data": [{
							"UserId": 503443,
                        	"CustomerId": 1000071,
                        	"CreatedDate": "2016-04-22T17:48:01.07",
                        	"Creater": "jianfeng.zou",
                        	"sujectTypeObj": {
                        		"sujectId": 123456,
                        		"wenJuanName": "问卷1",
                        		"wenJuanStation": "该问卷使用于同级之间的评估",
                        		"wenJuanType": "情景量表题",
                        		"wenJuan": [{
                        			"subTitleId": 123456,
                        			"sujectTitle": "1.请您根据被评估人的实际行为展现，从“专注共享”方面对其进行评分，完成以下问题：",
                        			"sujectDetaile": [
                        				"1.1 对自己和他人保持高标准的要求",
                        				"1.2 鼓励他人参与自我提升额活动",
                        				"1.3 信守承诺，勇于承担",
                        				"1.4 不为自己的错误赵借口或责备他人",
                        				"1.5 提供他人专业上的支持"
                        			],
                        			"acceptLevel": [
                        				"非常同意",
                        				"同意",
                        				"中立",
                        				"不同意",
                        				"非常不同意"
                        			],
                        			"subjectStatus": 0,
                        		},
                        		{
                        			"subTitleId": 123456,
                        			"sujectTitle": "2.请您根据被评估人的实际行为展现，从“专注共享”方面对其进行评分，完成以下问题：",
                        			"sujectDetaile": [
                        				"1.1 对自己和他人保持高标准的要求",
                        				"1.2 鼓励他人参与自我提升额活动",
                        				"1.3 信守承诺，勇于承担",
                        				"1.4 不为自己的错误赵借口或责备他人",
                        				"1.5 提供他人专业上的支持"
                        			],
                        			"acceptLevel": [
                        				"非常同意",
                        				"同意",
                        				"中立",
                        				"不同意",
                        				"非常不同意"
                        			],
                        			"subjectStatus": 0,
                        		},
                        		{
                        			"sujectTitle": "3.什么事情能够让被评估人全身心投入？",
                        			"sujectDetaile": null,
                        			"acceptLevel": null,
                        			"subjectStatus": 1,
                        		}]
                        	}
						}]
					};
				</script>
				<script type="text/x-jquery-tmpl" id="tmpl">
					{{each(item,val) tableDataForPreview.Data}}
						{{if item==targetIndex}}
							<div class="rowHead">
								<div class="row ">
									<div class="tip col-xs-1">问卷名称：</div>
									<div class="detail col-xs-10">${val.sujectTypeObj.wenJuanName}</div>
								</div>
								<div class="row ">
									<div class="tip col-xs-1">问卷说明：</div>
									<div class="detail col-xs-10">${val.sujectTypeObj.wenJuanStation}</div>
								</div>
								<div class="row ">
									<div class="tip col-xs-1">题型：</div>
									<div class="detail col-xs-10">${val.sujectTypeObj.wenJuanType}</div>
								</div>
							</div>
							{{each(i,v) val.sujectTypeObj.wenJuan}}
								<div class="rowContent">
									{{if v.sujectDetaile && v.acceptLevel && v.subjectStatus==0}}
										<div class="row">
											<div class="col-xs-12">${v.sujectTitle}</div>
											<div class="row">
												<div class="row">
													<div class="col-xs-12">
														<div class="col-xs-4">&nbsp;</div>
														<div class="col-xs-8">
															{{each(index,value) v.acceptLevel}}
															<div class="col-xs-2 levelDetail">
																<p>${value}</p>
																<span class="odd">${(index+1)*2-1}</span>
																<span class="even">${(index+1)*2}</span>
																<em></em>
															</div>
															{{/each}}
														</div>
													</div>
												</div>
												<div class="row">
													{{each(index,value) v.sujectDetaile}}
														<div class="col-xs-4">${value}</div>
														<div class="col-xs-8">
															{{each(x,y) v.acceptLevel}}
															<div class="col-xs-2 selDetail">
																<span class="odd">
																	<input type="radio" name="value${index}" value="y${index}1" />
																</span>
																<span class="even">
																	<input type="radio" name="value${index}" value="y${index}2"/>
																</span>
															</div>
															{{/each}}
														</div>
													{{/each}}
												</div>
											</div>
										</div>
									{{else}}
										<div class="row">
											<div class="col-xs-12">${v.sujectTitle}</div>
											<div class="col-xs-12">
												<textarea class="col-xs-7 textarea"></textarea>
											</div>
										</div>
									{{/if}}
								</div>
							{{/each}}
						{{/if}}
					{{/each}}
				</script>
			</div>
			
		</div>
	</div>
</div>
<script>
	// 渲染
	var previewObj = {
		renderTmpl: $('#previewRelationship'),
		tmpl: $("#tmpl")
	};
	previewObj.renderTmpl.append(previewObj.tmpl.tmpl());
					
</script>