<script type="text/javascript">
var defaultRule = {
    "Data": {
        "ruleId": 1,
        "ruletime": "2016-01-01 12:30:00",
        "ruleStyle": "mailmsg",
        "mailSelected": 0,
        "msgSelected": 0
    },
    "mailtemple": ["邮件模板1", "邮件模板2", "邮件模板3", "邮件模板4", "邮件模板5"],
    "msgtemple": ["短信模板1", "短信模板2", "短信模板3", "短信模板4", "短信模板5"]
}
</script>
<script type="text/x-jquery-tmpl" id="ruleTmpl">
    <div class="remind-rule bgc-gray7 pd20" id="remindRule${Data.ruleId}">
        <div class="row">
            <div class="col-xs-2 col-key tr">
                <span class="pdr10 c-gray3">提醒时间：</span>
            </div>
            <div class="col-xs-8 col-val">
                <div class="selectDate clearfix">
                    <div class="nbsp relative">
                        <input class="txt ffm wp100 wpdate" id="remindTime${Data.ruleId}" name="remindTime1" type="text" value="${Data.ruletime}" readonly>
                        <i class="icon icon-date2"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="mgl10 tc">
                    <button class="btn btn-common delRemindRuld" type="button"> - </button>
                </div>
            </div>
        </div>
        <div class="row mgt10">
            <div class="col-xs-2 col-key tr">
                <span class="pdr10 c-gray3">发送方式：</span>
            </div>
            <div class="col-xs-8 col-val">
                <div class="radio-group clearfix" id="sendType${Data.ruleId}">
                    <div class="radione inline">
                        {{if Data.ruleStyle==="mail"}}
                        <input type="radio" name="sendType" value="a" checked /> {{else}}
                        <input type="radio" name="sendType" value="a" /> {{/if}}
                        <span>发送邮件</span>
                    </div>
                    <div class="radione inline">
                        {{if Data.ruleStyle==="msg"}}
                        <input type="radio" name="sendType1" value="b" checked /> {{else}}
                        <input type="radio" name="sendType1" value="b" /> {{/if}}
                        <span>发送短信</span>
                    </div>
                    <div class="radione inline">
                        {{if Data.ruleStyle==="mailmsg"}}
                        <input type="radio" name="sendType1" value="c" checked /> {{else}}
                        <input type="radio" name="sendType1" value="c" /> {{/if}}
                        <span>发送邮件和短信</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-mail mgt10">
            <div class="col-xs-2 col-key tr"><span class="pdr10 c-gray3">邮件模板：</span></div>
            <div class="col-xs-8 col-val">
                <select id="mailTemple${Data.ruleId}" name="mailTemple${Data.ruleId}" data-width="100%" class="select select-group select-mail" data-req="true">
                    {{each(i,item) mailtemple}} 
                        {{if i === Data.mailSelected}}
                        <option value="${i}" selected>${item}</option>
                        {{else}}
                        <option value="${i}">${item}</option>
                        {{/if}} 
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row row-msg mgt10">
            <div class="col-xs-2 col-key tr"><span class="pdr10 c-gray3">短信模板：</span></div>
            <div class="col-xs-8 col-val">
                <select id="msgTemple${Data.ruleId}" name="msgTemple${Data.ruleId}" data-width="100%" class="select select-group select-msg" data-req="true">
                    {{each(j,jtem) msgtemple}} 
                        {{if j === Data.msgSelected}}
                        <option value="${j}" selected>${jtem}</option>
                        {{else}}
                        <option value="${j}">${jtem}</option>
                        {{/if}} 
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</script>
<div id="remindRule">
    <form class="pui-form fs" action="" id="remindRuleForm" action="">
        <div class="pd20">
            <!-- 如果后端渲染
            <div class="remind-rule bgc-gray7 pd20">
                <div class="row">
                    <div class="col-xs-2 col-key tr">
                        <span class="pdr10 c-gray3">提醒时间：</span>
                    </div>
                    <div class="col-xs-8 col-val">
                        <div class="selectDate clearfix">
                            <div class="nbsp relative">
                                <input class="txt ffm wp100 wpdate" id="remindTime1" name="remindTime1" type="text" value="" readonly>
                                <i class="icon icon-date2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="mgl10 tc">
                            <button class="btn btn-common" type="button"> - </button>
                        </div>
                    </div>
                </div>
                <div class="row mgt10">
                    <div class="col-xs-2 col-key tr">
                        <span class="pdr10 c-gray3">发送方式：</span>
                    </div>
                    <div class="col-xs-8 col-val">
                        <div class="radio-group clearfix" id="sendType1">
                            <div class="radione inline">
                                <input type="radio" name="sendType1" value="a" />
                                <span>发送邮件</span>
                            </div>
                            <div class="radione inline">
                                <input type="radio" name="sendType1" value="b" />
                                <span>发送短信</span>
                            </div>
                            <div class="radione inline">
                                <input type="radio" name="sendType1" value="c" />
                                <span>发送邮件和短信</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mgt10">
                    <div class="col-xs-2 col-key tr"><span class="pdr10 c-gray3">邮件模板：</span></div>
                    <div class="col-xs-8 col-val">
                        <select id="mailTemple1" name="mailTemple1" data-width="100%" class="select select-group" data-req="true">
                            <option value="" selected>请选择</option>
                            <option value="1">平凡的世界</option>
                            <option value="2">琅邪榜</option>
                            <option value="3">三国演义</option>
                            <option value="4">手撕鬼子</option>
                        </select>
                    </div>
                </div>
                <div class="row mgt10">
                    <div class="col-xs-2 col-key tr"><span class="pdr10 c-gray3">短信模板：</span></div>
                    <div class="col-xs-8 col-val">
                        <select id="msgTemple1" name="msgTemple1" data-width="100%" class="select select-group" data-req="true">
                            <option value="" selected>请选择</option>
                            <option value="1">平凡的世界</option>
                            <option value="2">琅邪榜</option>
                            <option value="3">三国演义</option>
                            <option value="4">手撕鬼子</option>
                        </select>
                    </div>
                </div>
            </div>
            -->
            <div class="row pd20" id="addRemindRuld">
                <div class="col-xs-10"></div>
                <div class="col-xs-1">
                    <div class="mgl10 tc">
                        <button class="btn btn-common" id="addRemindRuldBtn" type="button"> + </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
$(function() {


    var ruleobj = {
        ruletmpl: $('#ruleTmpl'),
        remindrule: $('#remindRule'),
        remindruleform: $('#remindRuleForm'),
        container: $('#remindRuleForm > .pd20'),
        addrule: $('#addRemindRuld'),
        addrulebtn: $('#addRemindRuldBtn')
    }


    ruleobj.addrulebtn.on('click', function() {
        ruleobj.addrule.before(ruleobj.ruletmpl.tmpl(defaultRule));
        var newIn = ruleobj.addrule.prev('.remind-rule');
        addCallback.call(newIn);
        defaultRule.Data.ruleId++;
        debugger;
    });

    ruleobj.remindrule.on('click', '.delRemindRuld', function() {
        $(this).closest('.remind-rule').remove();
    });



    var addCallback = function() {
        var thetype = this.find('input[type="radio"]');
        
        var themail = this.find('.select-mail');
        var themsg = this.find('.select-msg');

        var rowmail = this.find('.row-mail');
        var rowmsg = this.find('.row-msg');

        thetype.radioSmart({
            callback: function(self, v) {
                debugger;
                switch(v){
                    case 'a':
                        rowmail.show();
                        rowmsg.hide();
                        break;
                    case 'b':
                        rowmail.hide();
                        rowmsg.show();
                        break;
                    case 'c':
                        rowmail.show();
                        rowmsg.show();
                        break;
                }
            }
        });
        themail.selectSmart();
        themsg.selectSmart();
    }

    // $('#mailTemple1').selectSmart({
    //     callback: function(i, k, v) {
    //         ceng.msg('SelectIndex：' + i + ' ，Key：' + k + ' ，Value：' + v, {}, 'resolve');
    //     }
    // });
    // $('#msgTemple1').selectSmart({
    //     callback: function(i, k, v) {
    //         ceng.msg('SelectIndex：' + i + ' ，Key：' + k + ' ，Value：' + v, {}, 'resolve');
    //     }
    // });
    // $('#sendType1 input[type=radio]').radioSmart({
    //     callback: function(self, v) {}
    // });
    // var remindTime1 = {
    //     dateCell: '#remindTime1',
    //     format: 'YYYY-MM-DD hh:mm:ss',
    //     minDate: '1900-01-01 00:00:00',
    //     maxDate: '2099-12-31 23:59:59',
    //     isTime: true,
    //     choosefun: function(datas) {
    //         start.maxDate = datas;
    //     }
    // };
    // jeDate(remindTime1);





})
</script>
